@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

p:last-child,
li:last-child {
  margin-bottom: 0 !important; }

html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

input[type="text"] {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent; }

input[type="submit"] {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 10.7px; }

.wrapper-w {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }

.wrapper {
  overflow: hidden;
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.contain {
  width: 1170px;
  margin-left: auto;
  margin-right: auto; }

a, button {
  transition: 0.5s; }

.btns {
  background: #000; }

.btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border: 1px solid #0c369c;
  background-color: #0c369c;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 25px;
  min-width: 200px; }

.btn-b:hover {
  background-color: #2D5FD7; }

.btn-w {
  border: 1px solid #ffffff;
  background: none;
  color: #FFF; }
  .btn-w:hover {
    background-color: #FFF;
    color: #0C369C; }

.btn-arr-w {
  background-image: url("../img/arrow-butt-w.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
  padding-right: 52px; }
  .btn-arr-w:hover {
    background-image: url("../img/arrow-butt-b.svg"); }

.btn-arr-b {
  background-image: url("../img/arrow-butt-b.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
  padding-right: 52px; }
  .btn-arr-b:hover {
    background-image: url("../img/arrow-butt-w.svg"); }

.btn-o {
  background-color: #fff;
  color: #0c369c;
  border: 1px solid #0c369c; }
  .btn-o:hover {
    background-color: #0c369c;
    color: #fff; }

.btn-g {
  border: 1px solid #92ba1f;
  color: #92ba1f;
  background: none; }
  .btn-g:hover {
    background-color: #92ba1f;
    color: #fff; }

.btn-g-min {
  background: none;
  color: #f4f4f4;
  height: 32px;
  border: 1px solid #92ba1f;
  padding: 0 20px; }

.btn-span {
  margin-left: 20px; }

.w100 {
  width: 100%; }

.like-h1 {
  font-size: 48px;
  line-height: 1.2;
  color: #0c369c;
  margin-bottom: 40px; }

.like-h2-wrap {
  width: 100%; }

.divider {
  height: 1px;
  width: 100%;
  background-color: #E2E2E2; }

.like-h2 {
  color: #0c369c;
  font-size: 48px;
  line-height: 1.2; }

.like-h2-l {
  color: #0c369c;
  font-size: 48px;
  margin-bottom: 97px; }

.like-h2-bg {
  color: #0c369c;
  font-size: 48px;
  line-height: 1.2;
  position: relative;
  display: inline-block; }
  .like-h2-bg:before {
    position: absolute;
    right: -55px;
    bottom: -10px;
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../img/quottes.png");
    background-repeat: no-repeat;
    background-position: right center;
    z-index: -1; }

.all-link {
  display: inline-block;
  padding-right: 44px;
  background-image: url("../img/arr-r-g.svg");
  background-repeat: no-repeat;
  background-position: right top 0;
  color: #92ba1f;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 28px; }
  .all-link:hover {
    text-decoration: underline; }

.like-h2-w {
  color: #fff;
  font-size: 48px;
  line-height: 1.2; }

.all-link-w {
  display: inline-block;
  padding-right: 44px;
  background-image: url("../img/arr-link-r-w.svg");
  background-repeat: no-repeat;
  background-position: right top 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 28px; }
  .all-link-w:hover {
    text-decoration: underline; }

.slick-arrow {
  background: none;
  font-size: 0;
  bottom: 250px;
  width: 56px;
  height: 56px;
  border: 1px solid white;
  background-image: url("../img/arrow-l.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  position: absolute;
  top: 50%; }
  .slick-arrow:hover {
    background-color: #FFF;
    background-image: url("../img/arrow-l-b.svg"); }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

img.lazy {
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

@media (max-width: 1720px) {
  .wrapper {
    width: 100%;
    max-width: 100%; } }

@media (max-width: 1199px) {
  .contain {
    width: 970px; } }

@media (max-width: 992px) {
  .contain {
    width: 750px; }
  .like-h2,
  .like-h2-l,
  .like-h2-w,
  .like-h2-bg {
    font-size: 39px;
    margin-bottom: 40px; }
  .like-h1 {
    margin-bottom: 30px; } }

@media (max-width: 768px) {
  .contain {
    width: 600px; }
  .like-h2,
  .like-h2-l,
  .like-h2-w,
  .like-h2-bg {
    font-size: 24px; } }

@media (max-width: 640px) {
  .contain {
    width: 530px; } }

@media (max-width: 570px) {
  .contain {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 375px) {
  input[type="text"] {
    height: 48px !important;
    font-size: 14px !important; }
  .btn {
    height: 48px;
    font-size: 14px; } }

input[type="checkbox"].get-form-checkbox {
  display: none; }
  input[type="checkbox"].get-form-checkbox:checked + div {
    background-image: url("../img/check-3.svg");
    background-repeat: no-repeat;
    background-position: center; }

.get-form-cons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 30px; }

.get-form-cons-check {
  -webkit-flex: 0 0 20px;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  background-color: #92ba1f;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px; }

.get-form-cons {
  cursor: pointer; }

.bread {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .bread li {
    margin-right: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center; }
    .bread li:after {
      content: "";
      display: block;
      width: 16px;
      height: 1px;
      background: #F4F4F4;
      margin-left: 10px; }
    .bread li:last-child:after {
      display: none; }
  .bread a {
    color: #000; }
    .bread a:hover {
      text-decoration: underline; }

.pagin-w {
  margin-top: 70px; }

.pagin {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pagin-li.active .pagin-link {
  color: #fff;
  background: #0C369C; }

.pagin-link {
  border: 1px solid #f4f4f4;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  font-weight: 600;
  font-size: 20px;
  color: #0C369C; }
  .pagin-link:hover {
    color: #fff;
    background: #0C369C; }

.pagin-arrow {
  border: 1px solid #f4f4f4;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  font-weight: 600;
  font-size: 20px;
  color: #0c369c;
  margin-right: auto;
  background: url("../img/arrow-l-gray.svg") no-repeat center; }
  .pagin-arrow:hover {
    background: #0C369C url("../img/arrow-l.svg") no-repeat center; }

.pagin-left {
  margin-right: auto; }

.pagin-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: auto; }

body {
  position: relative; }
  body.active {
    background: url("../img/1920.jpg") no-repeat top 0px center; }
    body.active .wrapper {
      opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

.top {
  padding-top: 14px;
  padding-bottom: 10px; }

.top-1-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 100%; }

.top-ul li {
  margin-right: 40px;
  display: inline-block; }

.top-ul a {
  color: #0c369c;
  font-size: 14px;
  font-weight: 300;
  display: block; }
  .top-ul a:hover {
    text-decoration: underline; }

.top-compare {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -8px; }
  .top-compare:hover .top-compare-txt-1 {
    text-decoration: underline; }

.top-compare-txt-1 {
  color: #0c369c;
  font-size: 14px;
  font-weight: 300;
  margin-right: 10px; }

.top-compare-txt-2 {
  width: 24px;
  height: 24px;
  background-color: #92ba1f;
  border-radius: 50%;
  overflow: hidden;
  color: white;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.top-1-logo > img {
  width: 100%; }

.top-1 {
  padding-top: 7px;
  padding-bottom: 23px; }

.top-1-col-1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.top-1-logo {
  width: 187px;
  height: 68px;
  display: block;
  margin-right: 2px;
  margin-top: -8px;
  margin-right: 36px; }

.top-1-item-1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 44px;
  margin-top: 9px;
  margin-right: 55px; }

.top-1-txt-1 {
  font-size: 13px;
  font-style: italic;
  color: #0c369c;
  font-family: "Ubuntu "; }

.top-1-txt-2 {
  color: #0c369c;
  font-size: 13px;
  width: 170px;
  margin-left: 17px;
  line-height: 1.2;
  font-family: "Ubuntu", sans-serif; }

.top-1-form {
  padding-left: 41px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../img/loupe-1.svg");
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7px; }

input[type="text"].top-1-input {
  color: #999999;
  font-size: 14px;
  font-weight: 300;
  border: none; }

.top-1-col-2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px; }

.top-1-contacts {
  margin-top: 3; }

.top-1-txt-3, .top-1-txt-4 {
  color: #999999;
  font-size: 11px;
  margin-bottom: 12px; }

.top-1-txt-4 {
  margin-bottom: 0; }

.top-1-link-1 {
  color: #111111;
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px; }

.top-1-btn {
  color: #0c369c;
  font-size: 13px;
  font-weight: 300;
  height: 28px;
  border: 1px solid #92ba1f;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 14px;
  margin-right: 35px;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 10px;
  margin-top: 8px; }
  .top-1-btn:hover {
    background-color: #92ba1f;
    color: #fff; }

.top-1-mail {
  color: #0c369c;
  font-size: 21px;
  font-weight: 300;
  margin-top: 5px;
  display: inline-block; }
  .top-1-mail:hover {
    text-decoration: underline; }

.top-1-socials {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 28px; }

.top-1-social {
  display: block;
  margin-left: 13px; }

.top-mnu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
  background-color: #FFF;
  width: 100%;
  padding: 84px 0 70px; }
  .top-mnu .mega-mnu-title {
    color: #111; }
  .top-mnu .mega-mnu-ul a {
    color: #999;
    font-weight: 400; }
    .top-mnu .mega-mnu-ul a:hover {
      color: #92ba1f; }
  .top-mnu .mega-mnu-butt {
    color: #111111; }
    .top-mnu .mega-mnu-butt:hover {
      color: #FFF; }
  .top-mnu .mega-mnu-ul-big a {
    color: #111; }

.hidden-mnu {
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  position: relative;
  z-index: 11; }

.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px;
  display: block;
  width: 24px;
  height: 20px;
  margin: 0;
  margin-top: 25px; }

.toggle-mnu:focus {
  outline: none; }

.toggle-mnu span {
  position: relative;
  display: block;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 32px;
  height: 2px;
  background: #0C369C; }

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 32px;
  height: 2px;
  background: #0C369C;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.toggle-mnu span:after {
  top: 7px; }

.toggle-mnu.on {
  display: none; }
  .toggle-mnu.on span {
    background-color: transparent; }

.top-close-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -35px;
  margin-bottom: 15px; }

.top-close {
  width: 24.5px;
  height: 24.5px;
  background: url("../img/top-close.svg") no-repeat 0 0; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  top: -6px; }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(8px, -9px);
      -ms-transform: rotate(-45deg) translate(8px, -9px);
          transform: rotate(-45deg) translate(8px, -9px);
  top: 13px; }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

@media (max-width: 1199px) {
  .top-close-w {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
        justify-content: flex-end; } }

.top-mnu-2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #F4F4F4; }
  .top-mnu-2 > li > a {
    color: #111111;
    font-size: 16px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 43px;
    padding-right: 43px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 48px; }
    .top-mnu-2 > li > a:hover {
      background-color: #0c369c;
      color: white; }
  .top-mnu-2 > li > a.active {
    color: white;
    background-color: #0c369c; }
  .top-mnu-2 > li > a.menu-link-butt {
    color: white;
    font-size: 16px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 48px;
    background-color: #92ba1f;
    background-image: url("../img/calculator.svg");
    background-repeat: no-repeat;
    background-position: left 15px center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 60px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 15px; }

.menu-span {
  background-image: url("../img/arr-b.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  width: 11px;
  height: 6px; }

@media (max-width: 1720px) {
  .top, .top-1 {
    padding-left: 15px;
    padding-right: 15px; }
  .top-1-item-1 {
    display: none; }
  .top-1-form {
    margin-left: 45px; }
  .top-mnu-2 > li > a {
    padding: 0 10px; } }

@media (max-width: 1200px) {
  .top-1-contacts {
    display: none; }
  .top-compare {
    margin-top: 0; }
  .top-mnu-2 {
    display: none; }
  .top {
    display: none; }
  .top-1 {
    padding: 15px; }
  .top-1-logo {
    margin-top: 0; }
  .top-1-col-2 {
    display: none; }
  .top-1-col-1 {
    width: 100%; }
  .top-1-form {
    margin-left: 0; }
  .col-mnu {
    margin-left: auto;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .toggle-mnu {
    width: 32px; } }

@media (max-width: 480px) {
  input[type="text"].top-1-input {
    width: 0; }
  .top-1-form {
    padding-left: 20px; } }

@media (max-width: 375px) {
  /**/ }

@media (max-width: 320px) {
  /**/ }

.product-img-w img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.product {
  background: rgba(244, 244, 244, 0.25);
  padding-top: 32px;
  padding-bottom: 99px; }

.filter-left {
  margin-top: 14px; }

.product-choice {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px; }

.prod-item-more-w {
  display: none; }

.product-col-l {
  width: 270px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 30px; }

.product-filter-txt-1 {
  font-size: 12px;
  color: #999999;
  margin-bottom: 30px;
  text-transform: uppercase; }

.product-filter-txt-11 {
  font-size: 12px;
  color: #999999;
  -webkit-flex: 0 0 26px;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px; }

.product-filter-w {
  padding-top: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid #F4F4F4;
  border-top: 1px solid #F4F4F4; }

.product-filter-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product-filter-txt-2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #111111; }

.product-filter-item-1 {
  width: 18px;
  height: 17px;
  position: relative; }
  .product-filter-item-1:after {
    content: "";
    display: block;
    height: 1px;
    background: #999999;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 18px; }
  .product-filter-item-1.off:before {
    content: "";
    display: block;
    height: 17px;
    width: 1px;
    background: #999999;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    left: calc(50%);
    top: 50%; }

.product-filter-cont {
  height: auto;
  visibility: visible;
  opacity: 1;
  margin-top: 24px;
  transition: 0.2s; }
  .product-filter-cont.off {
    height: 0;
    visibility: hidden;
    opacity: 0;
    margin-top: 0; }

.product-filter-roller {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px; }

.product-roller-item-1 {
  width: 20px;
  height: 20px;
  background: #0c369c;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px; }

.product-roller-item-3 {
  height: 3px;
  background: #f4f4f4;
  border-radius: 90px;
  width: 100%; }

.product-roller-item-2 {
  width: 71px;
  height: 3px;
  background: #92ba1f;
  border-radius: 90px;
  display: block; }

.filter-left .ui-slider-horizontal .ui-slider-range-min {
  height: 3px;
  background: #92ba1f;
  border-radius: 90px;
  display: block; }

.filter-left .ui-widget-header {
  height: 3px;
  background: #92ba1f;
  border-radius: 90px;
  display: block; }

.filter-left .ui-widget.ui-widget-content {
  height: 3px;
  background: #f4f4f4;
  border-radius: 90px;
  border: none; }

.filter-left .ui-slider-horizontal .ui-slider-handle {
  width: 20px;
  height: 20px;
  background: #0c369c;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .filter-left .ui-slider-horizontal .ui-slider-handle:focus {
    outline: none;
    border: none; }

.product-filter-input-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

input[type="text"].product-filter-input {
  width: 110px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #999999;
  text-align: center; }

.product-filter-roller-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px; }
  .product-filter-roller-w:last-child {
    margin-bottom: 0; }

.product-filter-roller-2-w {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.product-filter-roller-2 {
  width: calc(100% - 10px);
  position: relative; }
  .product-filter-roller-2:after {
    position: absolute;
    right: -15px;
    top: 0;
    content: "";
    display: block;
    height: 3px;
    background: #f4f4f4;
    border-radius: 90px;
    width: 20px; }

input[type="text"].product-filter-input-2 {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 65px;
  height: 40px;
  border: 1px solid #999999;
  margin-left: 14px;
  font-size: 14px;
  text-align: center; }

.filter-check-row {
  margin-bottom: 16px; }
  .filter-check-row:last-child {
    margin-bottom: 0; }
  .filter-check-row .get-form-cons-txt {
    font-size: 14px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .filter-check-row .get-form-cons-check {
    background-color: #F4F4F4;
    width: 24px;
    height: 24px;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }
  .filter-check-row input[type="checkbox"].get-form-checkbox:checked + div {
    background-color: #92BA1F; }

.filter-check-hide {
  display: none; }
  .filter-check-hide.on {
    display: block; }

.product-filter-form .btn-o {
  background: #F4F4F4;
  border: none;
  color: #999;
  margin-top: 10px; }
  .product-filter-form .btn-o:hover {
    border: 1px solid #0c369c;
    background-color: #0c369c;
    color: #FFF; }

.filter-check-all {
  font-weight: 600;
  font-size: 14px;
  color: #0c369c;
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 4px; }

.filter-check-group-span {
  width: 67px;
  height: 1px;
  border: 1px solid #0c369c;
  margin-top: 7px;
  display: block; }

.r-banner-w {
  margin-top: 97px; }

.product-col-r {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-tags-w {
  margin-bottom: 18px; }

.product-tags {
  margin-left: -3.5px;
  margin-right: -3.5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.product-tags-li {
  margin-left: 3.5px;
  margin-right: 3.5px;
  margin-bottom: 8px; }

.product-tags-link {
  padding: 12px 10px;
  height: 36px;
  background: #f4f4f4;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.5s; }
  .product-tags-link.active {
    background: #0C369C;
    color: #FFF; }
  .product-tags-link:hover {
    background: #0C369C;
    color: #FFF; }

.product-list {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 13px; }

.product-item {
  width: 270px;
  background: white;
  border: 1px solid #f4f4f4;
  height: 790px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-img-w {
  height: 279px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.product-item-open {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: 14px;
  width: 14px;
  background-image: url("../img/open-1.svg");
  background-repeat: no-repeat;
  background-position: left top; }

.product-info {
  margin-top: 0px;
  padding: 24px 23px 32px 23px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4; }

.product-item-title {
  font-size: 20px;
  line-height: 1.2;
  color: #0c369c;
  display: block; }

.product-item-tbl {
  margin-top: 26px; }

.product-item-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9.5px; }

.product-item-col-1 {
  font-size: 12px;
  color: #999999;
  line-height: 1.4;
  width: 87px; }

.product-item-col-2 {
  font-size: 12px;
  color: #111111;
  line-height: 1.4;
  text-align: right; }

.product-item-price {
  font-size: 30px;
  color: #111111;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  margin-top: auto; }

.product-item-price-txt-1 {
  font-weight: 300;
  font-size: 10px;
  color: #999999;
  margin-right: 4px;
  margin-top: auto;
  text-transform: uppercase;
  margin-bottom: 4px; }

.product-item-price-txt-2 {
  font-weight: 300;
  font-size: 18px;
  color: #999999;
  margin-left: 6px; }

.banner-hor {
  margin-top: 50px; }

.banner-hor-w {
  height: 170px; }

@media (max-width: 1199px) {
  .product-item {
    width: calc(50% - 30px); } }

@media (max-width: 992px) {
  .filter-left {
    display: none; }
  .product-choice {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .product-col-l {
    width: 100%; }
  .product-col-r {
    width: 100%; }
  .r-banner-w {
    display: none; }
  .product-choice {
    margin-top: 50px; }
  .product-item {
    width: calc(100% / 3 - 3px);
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: 3px; }
  .product-list {
    margin-left: -1.5px;
    margin-right: -1.5px; }
  .product-choice {
    margin-top: 30px; }
  .product {
    padding-bottom: 50px; } }

@media (max-width: 768px) {
  .product-item-row {
    display: none; }
    .product-item-row:nth-child(1), .product-item-row:nth-child(2), .product-item-row:nth-child(3) {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .product-item.on .product-item-tbl .product-item-row {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .product-item.on .product-info {
    height: auto; }
  .product-img-w {
    height: 181px; }
  .product-img-w img {
    max-width: 170px;
    height: auto; }
  .product-item-title {
    font-size: 17px; }
  .product-item-tbl {
    margin-top: 20px; }
  .product-info {
    padding-bottom: 12px;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 250px; }
  .product-item {
    height: auto; }
  .prod-item-more-w {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 15px; }
  .prod-item-more {
    color: #0C369C;
    border-bottom: 1px solid #0C369C;
    padding-bottom: 3px;
    display: inline-block; }
  .product-item-price {
    font-size: 20px; }
  .product-item-price-txt-1 {
    font-size: 7px; }
  .product-item-price-txt-2 {
    font-size: 12px; } }

@media (max-width: 640px) {
  .product-item-title {
    font-size: 14px; }
  .product-item-open {
    width: 9px;
    height: 9px;
    background-size: 9px;
    bottom: 10px;
    right: 10px; }
  .product-item-tbl {
    margin-top: 7px; }
  .product-item-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .product-item-col-1,
  .product-item-col-2 {
    width: 100%;
    text-align: left; }
  .product-info {
    height: 240px;
    padding: 15px 10px; } }

@media (max-width: 570px) {
  .product-item {
    width: calc(100% / 2 - 3px); } }

.measurer-call {
  background-image: url("../img/Man.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  padding-bottom: 211px;
  padding-top: 213px; }

.measurer-texts {
  max-width: 634px;
  width: 100%; }

.measurer-txt-1 {
  color: white;
  font-size: 64px;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 74px;
  line-height: 1.2; }

.measurer-txt-2 {
  font-weight: 300;
  font-size: 20px;
  color: #FFF;
  line-height: 1.2;
  max-width: 400px; }

.measurer-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  max-width: 400px; }
  .measurer-form .btn {
    padding: 0 10px; }

input[type="text"].measurer-input {
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  height: 48px;
  border: 1px solid #999999;
  padding-left: 27px;
  padding-right: 27px;
  -webkit-flex: 0 0 364px;
      -ms-flex: 0 0 364px;
          flex: 0 0 364px; }
  input[type="text"].measurer-input::-webkit-input-placeholder {
    color: #FFF; }
  input[type="text"].measurer-input::-moz-placeholder {
    color: #FFF; }
  input[type="text"].measurer-input:-ms-input-placeholder {
    color: #FFF; }
  input[type="text"].measurer-input::placeholder {
    color: #FFF; }

@media (max-width: 1199px) {
  .measurer-call {
    background-position: right -340px top; } }

@media (max-width: 992px) {
  .measurer-call {
    background-position: right 0px top;
    padding: 50px 0;
    margin-top: 0; }
  .measurer-txt-1 {
    font-size: 42px;
    margin-bottom: 40px; }
  .measurer-txt-2 {
    font-size: 16px; } }

@media (max-width: 768px) {
  .measurer-txt-1 {
    margin-bottom: 30px;
    font-size: 30px; }
  .measurer-form {
    margin-top: 25px;
    margin-right: 0;
    width: 100%;
    max-width: 100%; }
  .measurer-form .btn {
    -webkit-flex: 0 0 150px;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px; }
  input[type="text"].measurer-input {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; } }

@media (max-width: 375px) {
  .measurer-call {
    background-image: url("../img/Man@375.jpg");
    padding-bottom: 36px; }
  .measurer-form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .measurer-form .btn {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top: 16px; }
  .measurer-txt-1 {
    max-width: 270px; }
  .measurer-txt-2 {
    max-width: 212px; } }

.help-call {
  padding-top: 100px;
  padding-bottom: 98px;
  background: #F4F4F4;
  margin-top: 158px;
  margin-bottom: 126px; }
  .help-call .measurer-txt-1 {
    color: #0C369C;
    margin-bottom: 50px; }
  .help-call .measurer-txt-2 {
    color: #111;
    max-width: 534px; }
  .help-call .measurer-form {
    max-width: 470px;
    margin-top: 25px; }
    .help-call .measurer-form .btn {
      padding: 0 10px;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  .help-call input[type="text"].measurer-input {
    color: #111;
    -webkit-flex: 0 0 232px;
        -ms-flex: 0 0 232px;
            flex: 0 0 232px; }
    .help-call input[type="text"].measurer-input::-webkit-input-placeholder {
      color: #111; }
    .help-call input[type="text"].measurer-input::-moz-placeholder {
      color: #111; }
    .help-call input[type="text"].measurer-input:-ms-input-placeholder {
      color: #111; }
    .help-call input[type="text"].measurer-input::placeholder {
      color: #111; }
  .help-call .measurer-call-w {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.help-call-r {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative; }
  .help-call-r img {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 0; }

.footer {
  background-color: #111111;
  padding-top: 57px;
  padding-bottom: 50px; }

.mega-mnu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mega-mnu-col {
  width: calc(100% / 4 - 23px); }

.mega-mnu-title {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px; }

.mega-mnu-butt {
  height: 32px;
  border: 1px solid #92ba1f;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 19px; }
  .mega-mnu-butt:hover {
    background: #92ba1f; }

.mega-mnu-ul {
  margin-top: 0px; }
  .mega-mnu-ul a {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1; }
    .mega-mnu-ul a:hover {
      font-weight: 600;
      color: #FFF; }

.mega-mnu-block {
  margin-top: 70px; }

.mega-mnu-block2 {
  margin-top: 45px; }

.mega-mnu-block3 {
  margin-top: 0px; }

.mega-mnu-ul-big li {
  margin-bottom: 15px; }

.mega-mnu-ul-big a {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #92ba1f;
  padding-bottom: 8px; }
  .mega-mnu-ul-big a:hover {
    border-color: transparent; }

.mega-mnu-soc-w {
  margin-top: 39px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .mega-mnu-soc-w a {
    margin-right: 31px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media (max-width: 1199px) {
  /**/ }

@media (max-width: 992px) {
  .mega-mnu-col {
    width: calc(100% / 3 - 20px); }
    .mega-mnu-col:nth-child(2) {
      display: none; } }

@media (max-width: 768px) {
  .mega-mnu-col {
    width: calc(100% / 2 - 20px); }
    .mega-mnu-col:nth-child(3) {
      display: none; } }

@media (max-width: 640px) {
  /**/ }

@media (max-width: 570px) {
  .mega-mnu-col {
    width: 100%; }
    .mega-mnu-col:nth-child(1) {
      display: none; } }

@media (max-width: 480px) {
  /**/ }

@media (max-width: 375px) {
  /**/ }

@media (max-width: 360px) {
  /**/ }

.footer-row-2 {
  margin-top: 31px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 45px; }

.footer-manufacturers {
  margin-top: 38px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .footer-manufacturers a {
    margin-right: 12px;
    display: inline-block; }

.footer-conts-days {
  color: #92ba1f;
  font-size: 14px;
  font-weight: 600;
  margin-top: -5px; }

.footer-phone {
  display: block;
  margin-top: 8px;
  color: white;
  font-size: 30px; }
  .footer-phone:hover {
    text-decoration: underline; }

.footer-col-butt {
  width: 270px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.footer-divider {
  background-color: #999999;
  height: 1px;
  width: 100%;
  opacity: 0.1;
  margin-bottom: 32px; }

.footer-row-3 {
  padding-top: 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
      align-items: flex-start; }

.footer-logo {
  width: 180px;
  height: 64px;
  display: block;
  margin-right: 120px;
  margin-top: 16px; }

.footer-col-mnu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 26px; }

.footer-3-mnu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-3-mnu li {
    margin-right: 26px; }
  .footer-3-mnu a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 4px;
    transition: 0.5s; }
    .footer-3-mnu a:hover {
      border-color: transparent; }

.footer-copy {
  color: #999999;
  font-size: 14px;
  font-weight: 600;
  margin-top: 23px; }

.footer-col-pays {
  margin-left: auto;
  margin-top: 15px; }

.footer-pays {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .footer-pays a {
    display: inline-block;
    margin-left: 16.5px; }

.footer-dev {
  color: #999999;
  font-size: 14px;
  font-weight: 600;
  margin-top: 18px;
  text-align: right; }
  .footer-dev a {
    color: #92ba1f; }
    .footer-dev a:hover {
      text-decoration: underline; }

@media (max-width: 1199px) {
  .footer-col-manufacturers {
    display: none; }
  .footer-pays {
    display: none; } }

@media (max-width: 992px) {
  .footer-logo {
    margin-right: 0; }
  .footer-row-3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .footer-col-pays {
    margin-left: unset; }
  .footer-3-mnu li:last-child {
    margin-right: 0; } }

@media (max-width: 768px) {
  .footer-row-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer-col-conts {
    width: 100%;
    margin-bottom: 20px; }
  .footer-row-3 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer-col-pays {
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 640px) {
  .fooer-logo {
    margin-left: auto;
    margin-right: auto; }
  .footer-row-3,
  .footer-row-2,
  .footer-col-pays {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-col-butt {
    width: 100%; }
  .footer-col-mnu {
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .footer-divider {
    display: none; }
  .footer-col-mnu {
    margin-top: 0;
    margin-bottom: 20px; } }

@media (max-width: 570px) {
  /**/ }

@media (max-width: 480px) {
  .footer-col-mnu {
    width: 100%; }
  .footer-3-mnu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%; }
    .footer-3-mnu li {
      margin-right: 0; }
    .footer-3-mnu a {
      font-size: 12px; } }

@media (max-width: 375px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 38px; } }

@media (max-width: 360px) {
  .footer-3-mnu a {
    font-size: 11px; } }

.list-products-body .bread-w {
  margin: 20px 0; }

.list-products-body .pagin-w {
  margin-top: auto; }

@media (max-width: 992px) {
  .list-products-body .pagin-w {
    margin-top: 40px; } }

.show-320,
.show-360,
.show-480,
.show-570,
.show-640,
.show-992,
.show-1050,
.show-1199,
.show-768,
.show-1299 {
  display: none; }

@media (max-width: 1299px) {
  .show-1299 {
    display: block; }
  .hide-1299 {
    display: none; } }

@media (max-width: 1199px) {
  .show-1199 {
    display: block; }
  .hide-1199 {
    display: none; } }

@media (max-width: 1050px) {
  .show-1050 {
    display: block; }
  .hide-1050 {
    display: none; } }

@media (max-width: 992px) {
  .hide-992 {
    display: none; }
  .show-992 {
    display: block; } }

@media (max-width: 768px) {
  .show-768 {
    display: block; }
  .hide-768 {
    display: none; } }

@media (max-width: 640px) {
  .hide-640 {
    display: none; }
  .show-640 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 570px) {
  .show-570 {
    display: block; }
  .hide-570 {
    display: none; } }

@media (max-width: 480px) {
  .show-480 {
    display: block; }
  .hide-480 {
    display: none; } }

@media (max-width: 360px) {
  .hide-360 {
    display: none; }
  .show-360 {
    display: block; } }

@media (max-width: 320px) {
  .hide-320 {
    display: none; }
  .show-320 {
    display: block; } }
