@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


@import "_common.scss";
@import "_top.scss";
@import "_slider.scss";
@import "_about.scss";
@import "_grid.scss";
@import "_cats.scss";
@import "_fabricators.scss";
@import "_get-form1.scss";
@import "_get-form2.scss";
@import "_services.scss";


.useful-videos {
  padding-top: 100px;
  .all-link {
    margin-top: 28px;
  }
  .recomm-videos {
    margin-top: 106px;
  }
}


@import "_compare.scss";
@import "_projects.scss";
@import "_form1.scss";
@import "_recommendations.scss";
@import "_articles.scss";
@import "_footer.scss";


.main-body {
  .cat-grid {

  }
  .services {
    margin-bottom: 103px;
  }
  .cat-grid-w {
    border-top: 1px solid #E2E2E2;    
    border-bottom: 1px solid #E2E2E2;        
    padding-top: 96px;    
    padding-bottom: 94px;
  }
}

@media (max-width : 992px) {  
  .about {
    padding: 50px 0;
  }
  .fabricators {
    padding-bottom: 50px; 
  }
  .fabricators-w {
    padding-top: 50px;
  }
  .get {
    padding-bottom: 35px;
    padding-top: 50px;
  }
  .cat-grid-w {
    padding: 50px 0 !important;
  }
  .main-body .services {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .useful-videos {
    padding-top: 50px;  
    .like-h2 {
      margin-bottom: 0;
    }
    .recomm-videos {
      margin-top: 50px;
      padding-bottom: 50px;
    }
  }
} 

@import "_hides.scss";