.about-social > img {
  width: 100%;
}

.about {
  padding-top: 121px;
  padding-bottom: 103px;
}

.about-w {
  display: flex;
}

.about-col-1 {
  margin-right: 124px;  
  flex-grow: 1;
}

.about-txt-1 {
  color: rgb(17, 17, 17);
  font-size: 20px;
  margin-bottom: 75px;
  line-height: 1.4;
  padding-right: 28px;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
}

.about-txts {
  display: inline-block;
}

.about-txt-2 {
  color: rgb(146, 186, 31);
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 13px;
}

.about-txt-3 {
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.about-btn-w {
}

.about-col-2 {
  max-width: 473px;
  width: 100%;
  flex: none;
  margin-top: -4px;
}

.about-video {
  border: 1px solid rgb(17, 17, 17);
  display: flex;
  margin-bottom: 27px;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 267px;
  background-color: #000;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.2);
    opacity: 0;
    visibility: hidden;
    position: absolute;    
    transition: 0.5s;
  }
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.about-video-span {
  display: inline-block;
  position: absolute;
  background: url("../img/play.svg") $nr center;
  width: 68px;
  height: 50px;
}

.about-contacts {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.about-cont-row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-cont-txt-1 {
  color: rgb(17, 17, 17);
  font-size: 24px;
}

.about-cont-link {
  color: rgb(47, 128, 237);
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

.about-cont-txt-2 {
  color: rgb(153, 153, 153);
  font-size: 14px;
  margin-bottom: 22px;
}

.about-socials {
  display: flex;  
  align-items: center;
}

.about-social {
  display: inline-flex;
  align-items: center;
  height: 21px;
  width: 20px;
  margin-right: 31px;
}

@media (max-width: 1199px) {
  .about-txt-2 {
    font-size: 30px;
  }
  .about-txt-3 {
    line-height: 1.2;
  }

}

@media (max-width: 992px) {
  .about-w {

    flex-wrap: wrap;
  }
  .about-col-1 {
    margin-right: 0;
  }
  .about-col-2 {

    margin-top: 50px;
  }
  .about-video {
    max-width: 473px;    
  }
  .about-txt-1, .about-row {
    margin-bottom: 22px;
  }
}

@media (max-width: 570px) {
  .about-video {
    width: 100%;
  }
}