.about-social > img {
  width: 100%;
}

.about-social > img {
  width: 100%;
}

.about-social > img {
  width: 100%;
}

.about-social > img {
  width: 100%;
}

.about {
  padding-top: 117px;
  padding-bottom: 100px;
}

.contain {
}

.about-w {
  display: flex;
}

.about-col-1 {
  margin-right: 124px;
}

.about-txt-1 {
  color: rgb(17, 17, 17);
  font-size: 20px;
  margin-bottom: 65px;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
}

.about-txts {
  display: inline-block;
}

.about-txt-2 {
  color: rgb(146, 186, 31);
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 6px;
}

.about-txt-3 {
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 600;
}

.about-btn-w {
}

.btn.btn-o {
}



.about-col-2 {
}

.about-video {
  border: 1px solid rgb(17, 17, 17);
  display: flex;
  margin-bottom: 27px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.about-video-span {
  display: inline-block;
  position: absolute;
}

.about-contacts {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.about-cont-row {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-cont-txt-1 {
  color: rgb(17, 17, 17);
  font-size: 24px;
}

.about-cont-link {
  color: rgb(47, 128, 237);
  font-size: 14px;
}

.about-cont-txt-2 {
  color: rgb(153, 153, 153);
  font-size: 14px;
  margin-bottom: 22px;
}

.about-socials {
  display: flex;  
  align-items: center;
}

.about-social {
    display: inline-flex;
    align-items: center;
    height: 21px;
    width: 20px;
    margin-right: 31px;
}