.articles {
  padding-top: 115px;
  padding-bottom: 147px;
}

.contain {
}

.articles-w {
}



.articles-items {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.articles-col {
  width: calc(33.3333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.articles-item {
  height: 282px;
  width: 100%;
  display: flex;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.2);
    opacity: 0;
    visibility: hidden;
    position: absolute;    
    transition: 0.5s;
  }
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.articles-item-hor {
  height: 594px;
  width: 100%;  
}

.articles-item-hor-txt {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 37px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 1.3;
}


.articles-item-txt {
  position: absolute;
  left: 0px;
  padding: 0px 30px 30px;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 1.3;
  bottom: 0px;
}

@media (max-width: 1199px) {
  .articles-items {
    margin-top: 50px;
  }
  .articles-item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 992px) {
  .articles {   
    padding-bottom: 50px;    
    .like-h2 {
      margin-bottom: 0;
    }
  }
  .articles-col {        
    display: flex;    
    flex-direction: row;
    width: auto; 
    width: 244px;   
  }  
  .articles-item {
    width: 244px;
    height: 177px;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .articles-item-hor {
    height: 177px;
    margin-right: 0;
  }
  .articles-item-txt,
  .articles-item-hor-txt {
    font-size: 14px;
    font-weight: 400;
    top: auto;
    bottom: 0;
    padding: 0 20px 20px;
  }
  .articles-items {  
    flex-wrap: wrap;
  }
  .articles-item-hor {

  }

  .articles-col-2 {
    width: 496px;
    justify-content: space-between;
    .articles-item {
      width: calc(50% - 5px);
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .articles-col-1,
  .articles-col-2 {
    width: 100%;
  }
  .articles-col-2  {
    .articles-item {
      width: calc(50% - 5px);
    } 
  }
  .articles-item-hor {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .articles-col-1 {
    width: 232px;
    margin-right: 8px;
    flex: none;
  }
  .articles-col-2 {
    width: auto;
    .articles-item {
      width: calc(50% - 5px);
      margin-right: 8px;
    } 
  }
  .articles-items-w {
    position: relative;    
    height: 243px;
    -ms-overflow-x: scroll;
    overflow-x: scroll;
    margin-right: -15px;
    border-bottom: 1px solid #E2E2E2;
  }
  .articles-items {
    width: 1200px;
    position: absolute;
    left: 0;
    top: 0;   
    margin-top: 40px;     
    flex-wrap: nowrap;
  }
}