.catalog {
  padding-top: 31px;  

  .completed-slde-dots {
    z-index: 5;
  }
}

.catalog-w {
  display: flex;
  padding-bottom: 94px;
  border-bottom: 1px solid #E2E2E2;
}

.catalog-col-1 {  
  flex-grow: 1;
  margin-right: 100px;
}

.catalog-col-2 {
  width: 500px;
  flex: none;
}

.catalog-txt-1 {
  font-size: 48px;
  line-height: 1.2;
  color: rgb(12, 54, 156);  
  margin-bottom: 16px;
}

.catalog-txt-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(146, 186, 31);
  width: 290px;
  margin-bottom: 40px;
}

.catalog-txt-3 {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(17, 17, 17);
  margin-bottom: 54px;
}

.catalog-btn-row {
  display: flex;    
}

.catalog-btns {
  display: flex;  
  flex-wrap: wrap;
}

.catalog-btn {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
  background: rgb(244, 244, 244);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;  
  margin-right: 7px;
  margin-bottom: 7px;
}

.catalog-btn-label {
  color: rgb(153, 153, 153);    
  font-size: 12px;
  text-transform: uppercase;
  flex: none;
  height: 36px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 20px;
}

.catalog-col-2-row {
  display: flex;
  align-items: center;
  width: 100%;  
  justify-content: space-between;         
  .get-form-cons-check {
    margin-right: 14px;
  }
}

.catalog-slider-w {
  background: #F4F4F4;
  max-width: 500px;
  height: 390px;
  display: block;  
  margin-bottom: 49px;
  position: relative;
  z-index: 0;
  img {
    position: relative;
    z-index: 2;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    z-index: -1;
  }
}

.catalog-slider-item {
  height: 390px;
  width: 500px; 
}

.catalog-slider-item-img-w {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;  
  align-items: center;
  position: relative;
  z-index: 3;
  &:before {
    content: "";
    display: block;
    background-image: url("../img/open-2.svg");
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    position: absolute;
    right: 13px;
    bottom: 13px;
    z-index: 4;
    width: 14px;
    height: 14px;
  }
}

.catalog-check-wrap {
  margin-right: 21px;
  display: flex;  
  align-items: center;
  width: 130px;
}

.catalog-choice {
  display: flex;  
  align-items: center;
}

.get-form-checkbox {
}

.get-form-cons-check {
}

.product-item-price-w {
  .product-item-price {
    padding: 0;
  }
}

.product-item-price {
  font-size: 30px;
  color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 18px;
}

.product-item-price-txt-1 {
  font-weight: 300;
  font-size: 10px;
  color: rgb(153, 153, 153);
  margin-right: 4px;
}

.product-item-price-txt-2 {
  font-weight: 300;
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: 6px;
}

.catalog-col-2-btn {  
  margin-left: auto;
  width: 160px;
  .btn {
    min-width: auto;
    padding: 0 15px;
  }
}

.catalog-txt-11 {
  font-size: 14px;
  flex: none;
}