.catalog {
  padding-top: 31px;  

  .completed-slde-dots {
    z-index: 5;
  }
}

.catalog-w {
  display: flex;
  padding-bottom: 94px;
  border-bottom: 1px solid #E2E2E2;
}

.catalog-col-1 {  
  flex-grow: 1;
  margin-right: 100px;
}

.catalog-col-2 {
  width: 500px;
  flex: none;
}

.catalog-txt-1 {
  font-size: 48px;
  line-height: 1.2;
  color: rgb(12, 54, 156);  
  margin-bottom: 16px;
}

.catalog-txt-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(146, 186, 31);
  width: 290px;
  margin-bottom: 40px;
}

.catalog-txt-3 {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(17, 17, 17);
  margin-bottom: 54px;
}

.catalog-btn-row {
  display: flex;    
}

.catalog-btns {
  display: flex;  
  flex-wrap: wrap;
}

.catalog-btn {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
  background: rgb(244, 244, 244);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;  
  margin-right: 7px;
  margin-bottom: 7px;
}

.catalog-btn-label {
  color: rgb(153, 153, 153);    
  font-size: 12px;
  text-transform: uppercase;
  flex: none;
  height: 36px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 20px;
}

.catalog-col-2-row {
  display: flex;
  align-items: center;
  width: 100%;  
  justify-content: space-between;         
  .get-form-cons-check {
    margin-right: 14px;
  }
}

.catalog-slider-w {
  background: #F4F4F4;
  max-width: 500px;
  height: 390px;
  display: block;  
  margin-bottom: 49px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  img {
    position: relative;
    z-index: 2;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #222222 0%, rgba(34, 34, 34, 0) 100%);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    z-index: -1;
  }
}

.catalog-slider-item {
  height: 390px;
  width: 500px; 
}

.catalog-slider-w {
  
}

.catalog-slider-item-img-w {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;  
  align-items: center;
  position: relative;
  z-index: 3;
  &:before {
    content: "";
    display: block;
    background-image: url("../img/open-2.svg");
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    position: absolute;
    right: 13px;
    bottom: 13px;
    z-index: 4;
    width: 14px;
    height: 14px;
  }
}

.catalog-check-wrap {
  margin-right: 21px;
  display: flex;  
  align-items: center;
  width: 130px;
}

.catalog-choice {
  display: flex;  
  align-items: center;
}

.get-form-checkbox {
}

.get-form-cons-check {
}

.product-item-price-w {
  .product-item-price {
    padding: 0;
  }
}

.product-item-price {
  font-size: 30px;
  color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 18px;
}

.product-item-price-txt-1 {
  font-weight: 300;
  font-size: 10px;
  color: rgb(153, 153, 153);
  margin-right: 4px;
}

.product-item-price-txt-2 {
  font-weight: 300;
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: 6px;
}

.catalog-col-2-btn {  
  margin-left: auto;
  width: 160px;
  .btn {
    min-width: auto;
    padding: 0 15px;
  }
}

.catalog-txt-11 {
  font-size: 14px;
  flex: none;
}

.catalog {
  .product-item-price {
    border: none;
  } 
}

@media (max-width: 1199px) {
  .catalog-btn-row {  
    flex-wrap: wrap;
  }
  .catalog-btn-label {
    width: 100%;
    margin-bottom: 6px;
  } 

  .config-block-w.grid-row-15,
  .table-compare-w.grid-row-15 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .catalog-w {    
    flex-wrap: wrap;
  }
  .catalog-col-2 {
    width: 100%;
  }
  .catalog-txt-3 {
    margin-bottom: 14px;
  }
  .catalog-col-2-row {
    margin-top: 15px;
  }
  .catalog-w,
  .chars-table-block-w {
    padding-bottom: 50px;
  }
  .catalog-slider-w {
    margin-bottom: 20px;
  }
  .options,
  .chars-table-block {
    padding-top: 50px;
  }
  .config-block {
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .table-compare-block {
    margin-top: 50px;
  }
  .config-block-w {
    margin-top: 20px;
  }
  .catalog-txt-1 {
    font-size: 24px;
  }
}


@media (max-width: 768px) {
  .catalog {
    .product-item-price {
      font-size: 30px;  
    }
    .product-item-price-txt-2 {
      font-size: 18px;
    }
    .product-item-price-txt-1 {
      font-size: 10px;
    }
  }
}

@media (max-width: 480px) {
  .catalog-slider-item {
    height: 267px;
  }
  .catalog-slider-w {
    height: 267px;
  }
  .catalog-slider-w img {
    object-fit: cover;
    max-width: 101px;
  }
  .catalog-txt-3 {
    font-size: 14px;
  }
  .catalog-col-2-row {  
    flex-wrap: wrap;
  }
  .catalog-check-wrap {
    width: 100%;
    margin-bottom: 24px;
  }
  .catalog-w {
    padding-bottom: 40px;
  }
  .options-products-top {
    display: none;
  }
  .options-products-img-w {
    width: 100%;
    height: 173px;
  }
  .options {
    .like-h2 {
      text-transform: uppercase;
      color: #000;
      margin-bottom: 20px;
    }
    .options-products-roller-w {
      display: none;
    }
  }
  .options-products {
    margin-top: 20px;
  }
  .options-products-img-w {
    margin-bottom: 20px;
  }
  .options-products-row {
    margin-bottom: 30px;
  }
  .options-products {
    margin-top: 0;
  }
  .chars-table-block-w {
    padding-top: 49px;
    border-top: 1px solid #f4f4f4;
  }
  .chars-table-block table {
    margin-top: 30px;
  }
  .chars-table-block:not(.chars-table-block-2) {
    tr {      
      flex-wrap: wrap;
    }
    td {
      span {
        height: 19px;
      }
      &:nth-child(1) {
        width: 100%;
        font-size: 14px;
        color: #999;
        &:after {
          display: none;
        } 
      }
      &:nth-child(2) {
        width: 100%;
        padding-left: 0;
      } 
    }
  }
  .chars-table-link-w {
    margin-top: 30px;
  }
  .chars-table-block-2 {
    table {
      width: 100%;
    }
    td {
      &:nth-child(1) {      
        flex-grow: 1;
        width: auto;
      }
      &:nth-child(2) {
        flex: none;
        width: auto;
      }
    }
  }
  .config-block {
    margin-top: 40px;
    padding-bottom: 35px;
    .like-h2 {
      margin-bottom: 30px;
    }
  }
  .config-block-w {
    margin-top: 0;
  }
  .table-compare-block {
    .all-link {
      margin-top: 20px;
    }
    .like-h2 {
      letter-spacing: unset;
      margin-bottom: 0;
    }
  }
  .table-compare-slider-w {
    margin-top: 20px;
  }
  .catalog {
    margin-top: 0;
    padding-top: 0;
  }
  .catalog-txt-2 {
    margin-bottom: 23px;
  }
  .catalog-col-1 {
    margin-right: 0;
  }
}

@media (max-width: 360px) {
  .catalog-col-2-btn {
    width: auto;
  }
}