

@import "_card-top-columns";


/*options*/

.options {
	padding-top: 100px;	
}
.options-products-span > img {
	width: 24px;
	height: 24px;
}

.options-products-img-w > img {
	width: 70%;
	height: auto;
}


.options-products {
	margin-top: 50px;
	margin-bottom: 0px;
}

.options-products-top {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	cursor: pointer;	
}

.options-products-arrow {
	width: 56px;
	height: 56px;
	border: 1px solid rgba(#999, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 30px;
	background: url("../img/arr-b.svg") $nr center;  
	background-size: 12px;		   	    	     	        
	&.off {
		transform: rotate(180deg);
	}
}

.options-products-txt {
	font-weight: 600;
	font-size: 24px;
	text-transform: uppercase;
	color: rgb(17, 17, 17);
	display: block;
}

.options-products-choice-w {
	margin-bottom: 0px;
	height: auto;
	visibility: visible;
	opacity: 1;

	&.off {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

.options-products-row {
	margin-bottom: 50px;

}

.options-products-item {
	width: 183px;  
	cursor: pointer;
	margin-right: 14px;
	.get-form-cons {
		display: flex;  			
		padding-right: 0;		
	}
	.get-form-cons-check {
		margin-right: 18px;		
		background-color: #f4f4f4;
		width: 24px;
		height: 24px;
		flex: none;
	}
	.get-form-cons-txt {
		font-size: 14px;
		font-weight: 600;
		color: #000;
		text-transform: uppercase;
		line-height: 1.2;
		display: flex;		
		align-items: center;
	}
	input[type="checkbox"].get-form-checkbox:checked + div {
		background-color: #92BA1F;
		margin-right: 18px;		
		width: 24px;
		height: 24px;
		flex: none;
	}
}

.options-products-img-w {
	width: 183px;
	height: 188px;
	display: flex;
	justify-content: center;
	border: 1px solid rgb(244, 244, 244);
	margin-bottom: 24px;
	align-items: center;
}

.options-choice-w {
}

.get-form-cons {
}

.get-form-checkbox {
}

.get-form-cons-check {
}

.get-form-cons-txt {
}

.options-products-roller-w {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 24px;
}


.options-roller-grey, .swiper-scrollbar {
	background: rgb(244, 244, 244);
	height: 4px;
	display: block;
	margin-left: 12px;
	margin-right: 12px;
	width: 100%;
}

.swiper-button {
	position: static;
	background: url("../img/arr-l-opt.svg") center no-repeat rgb(244, 244, 244);
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	&:after {
		display: none;
	}
}

.swiper-button-next {
	transform: rotate(180deg);
}



.options-roller-green, .swiper-scrollbar-drag {
	background: rgb(146, 186, 31);
	width: 196px;
	height: 4px;
}


.chars-table-block {
	padding: 111px 0 0px;	
	table {
		margin-top: 50px;
		width: 100%;
		max-width: 862px;	
	}	
	tr {
		display: flex;		
		justify-content: space-between;
		position: relative;
		&:nth-child(1) {
			td {
				padding-top: 0;
			}
		}
	}	
	tr.chars-tbl-row-nodots {
		td {
			&:after {
				display: none;
			}
		}
	}
	td {		
		font-size: 14px;
		color: #111;
		padding-top: 14px;
		background-color: #FFF;
		position: relative;	
		z-index: 0;	
		span {		
			background-color: #FFF;	
			z-index: 4;
			display: inline-block;			
			padding-right: 10px;
			position: relative;
			height: 24px;			
		}
		&:nth-child(1) {	
			width: 60%;		
			&:after {
				content: "";
				display: block;
				border-bottom: 2px dotted rgba(#999, 0.5);
				height: 1px;
				position: absolute;
				bottom: 12px;
				left: 0;
				width: 100%;
				z-index: 0;
			}			
		}
		&:nth-child(2) {
			width: 40%;
			padding-left: 10px;
		}
	}
}

.chars-table-block-2 {
	table {
		max-width: 1155px;
	}
}

.chars-table-block-w {
	border-bottom: 1px solid #E2E2E2;	
	padding-bottom: 105px;
}

.chars-table-link-w {
	margin-top: 40px;
}


.tbl-down {
	width: auto;
	display: inline-flex;
	position: relative;	
	align-items: center;	
	font-size: 14px;
	font-weight: bold;
	color: #111;			
	height: 17px;
	text-align: right;
	width: 69px;
	&:after {
		position: absolute;
		content: "";		
		width: 24px;
		background-repeat: no-repeat;
		background-position: right center;	
		height: 24px;
		background-image: url("../img/down.svg");		
		display: block;
		right: 0;
		bottom: 0;		
	}	
}

.tbl-down-green {
	&:after {
		background-image: url("../img/down-green.svg");	
	}	
}

.config-block {
	padding: 100px 0;
	background: rgba(#F4F4F4, 0.25);
	margin-top: 91px;
}
.config-block-w {	
	margin-top: 105px;
}

.config-block-slider-w {
	position: relative;
}

.table-compare-slider-w {
	position: relative;
	margin-top: 100px;
}


.table-compare-block {
	margin-top: 70px;
	.like-h2 {
		letter-spacing: -1.8px;
	}
}

.table-compare-block,
.config-block {
	.product-item {

	}	
	.swiper-button-disabled {
		opacity: 1;
	}

	.swiper-button {
		top: 50%;
		border: 1px solid #ccc;
		background-color: transparent;
		background-image: url('../img/arrow-l-gray.svg');
		width: 56px;
		height: 56px;
		position: absolute;
		cursor: pointer;
		&:hover {
			background-color: #0C369C;
			background-image: url('../img/arrow-l.svg');
			border-color: #0C369C;
		}	
	}
}

.swiper-button-prev-2,
.swiper-button-prev-3 {
	left: -175px;
}
.swiper-button-next-2,
.swiper-button-next-3 {
	right: -175px;
	transform: rotate(180deg);
}


.table-compare-block,
.config-block {
	.options-products-roller-w {
		margin-top: 30px;
	}	
}
.catalog {
	.product-item-price {
		border: none;
	}	
}



@media (min-width: 1366px) {
	.table-compare-block,
	.config-block {
		.options-products-roller-w {
			display: none;
		}	
	}
}
.table-compare-block,
.config-block {

	.product-item {
		margin: 0;
	}
}

@media (max-width: 1600px) {
	.swiper-button-prev-2, .swiper-button-prev-3 {
		left: -80px;
	}
	.swiper-button-next-2, .swiper-button-next-3 {
		right: -90px;
	}
}
@media (max-width: 1366px) {
	.swiper-button-prev-2, .swiper-button-prev-3,
	.swiper-button-next-2, .swiper-button-next-3 {
		display: none;
	}
}
@media (max-width: 1199px) {
	.catalog-btn-row {	
		flex-wrap: wrap;
	}
	.catalog-btn-label {
		width: 100%;
		margin-bottom: 6px;
	}	

	.config-block-w.grid-row-15,
	.table-compare-w.grid-row-15 {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 992px) {
	.catalog-w {		
		flex-wrap: wrap;
	}
	.catalog-col-2 {
		width: 100%;
	}
	.catalog-txt-3 {
		margin-bottom: 14px;
	}
	.catalog-col-2-row {
		margin-top: 15px;
	}
	.catalog-w,
	.chars-table-block-w {
		padding-bottom: 50px;
	}
	.catalog-slider-w {
		margin-bottom: 20px;
	}
	.options,
	.chars-table-block {
		padding-top: 50px;
	}
	.config-block {
		padding-top: 50px;
		margin-top: 50px;
		padding-bottom: 50px;
	}
	.table-compare-block {
		margin-top: 50px;
	}
	.config-block-w {
		margin-top: 20px;
	}
	.catalog-txt-1 {
		font-size: 24px;
	}
}

@media (max-width: 768px) {
	.product-item-2 {
		.product-info {
			height: auto;
		}	
	}
	.table-compare-block {
		.product-item-row {
			display: none;
		}

		.product-item-row:nth-child(1), .product-item-row:nth-child(2), .product-item-row:nth-child(3) {
			display: flex;
		}
	}	
	.catalog {
		.product-item-price {
			font-size: 30px;	
		}
		.product-item-price-txt-2 {
			font-size: 18px;
		}
		.product-item-price-txt-1 {
			font-size: 10px;
		}
	} 
}

@media (max-width: 480px) {
	.catalog-slider-item {
		height: 267px;
	}
	.catalog-slider-w {
		height: 267px;
	}
	.catalog-slider-w img {
		object-fit: cover;
		max-width: 101px;
	}
	.catalog-txt-3 {
		font-size: 14px;
	}
	.catalog-col-2-row {	
		flex-wrap: wrap;
	}
	.catalog-check-wrap {
		width: 100%;
		margin-bottom: 24px;
	}
	.catalog-w {
		padding-bottom: 40px;
	}
	.options-products-top {
		display: none;
	}
	.options-products-img-w {
		width: 100%;
		height: 173px;
	}
	.options {
		.like-h2 {
			text-transform: uppercase;
			color: #000;
			margin-bottom: 20px;
		}
		.options-products-roller-w {
			display: none;
		}
	}
	.options-products {
		margin-top: 20px;
	}
	.options-products-img-w {
		margin-bottom: 20px;
	}
	.options-products-row {
		margin-bottom: 30px;
	}
	.options-products {
		margin-top: 0;
	}
	.chars-table-block-w {
		padding-top: 49px;
		border-top: 1px solid #f4f4f4;
	}
	.chars-table-block table {
		margin-top: 30px;
	}
	.chars-table-block:not(.chars-table-block-2) {
		tr {			
			flex-wrap: wrap;
		}
		td {
			span {
				height: 19px;
			}
			&:nth-child(1) {
				width: 100%;
				font-size: 14px;
				color: #999;
				&:after {
					display: none;
				}	
			}
			&:nth-child(2) {
				width: 100%;
				padding-left: 0;
			}	
		}
	}
	.chars-table-link-w {
		margin-top: 30px;
	}
	.chars-table-block-2 {
		table {
			width: 100%;
		}
		td {
			&:nth-child(1) {			
				flex-grow: 1;
				width: auto;
			}
			&:nth-child(2) {
				flex: none;
				width: auto;
			}
		}
	}
	.config-block {
		margin-top: 40px;
		padding-bottom: 35px;
		.like-h2 {
			margin-bottom: 30px;
		}
	}
	.config-block-w {
		margin-top: 0;
	}
	.table-compare-block {
		.all-link {
			margin-top: 20px;
		}
		.like-h2 {
			letter-spacing: unset;
			margin-bottom: 0;
		}
	}
	.table-compare-slider-w {
		margin-top: 20px;
	}
	.catalog {
		margin-top: 0;
		padding-top: 0;
	}
	.catalog-txt-2 {
		margin-bottom: 23px;
	}
	.catalog-col-1 {
		margin-right: 0;
	}
}

@media (max-width: 375px) {
	/**/
}
@media (max-width: 360px) {
	.catalog-col-2-btn {
		width: auto;
	}
}