.cat-grid {
}


.cat-grid-w {
  display: flex;
  flex-wrap: wrap;
}



.cat-grid-item {
  background: rgba(#F4F4F4, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;  
  transition: 0.7s;
  border: 5px solid #fff;
  &:hover {
    background: #F4F4F4;
    .cat-grid-arr {
      background-color: #0C369C;
      background-image: url("../img/arr-link-r-w.svg");
    }
  }
}

.cat-grid-item-1 {
  width: 300px;
  height: 590px;  
}

.cat-grid-item-2 {
  height: 300px;  
  width: 300px;  
  align-items: flex-start;
  padding-top: 30px;
}

.cat-grid-item-3 {
  height: 300px;  
  width: 100%; 
  overflow: hidden;
}

.cat-grid-arr {
  width: 52px;
  height: 52px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  background: url("../img/arr-r-b.svg") $nr center;  
  transition: 0.7s;
  display: none;
}

.cat-grid-img-w {
  text-align: center;
}

.cat-grid-img-w-2 {
  overflow: hidden;
  height: 100%;
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* .cat-grid-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  position: absolute;
  bottom: 0px;  
  align-items: flex-end;
} */


.cat-grid-row {
  color: rgb(12, 54, 156);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 20px 13px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: inline-block;
  align-items: center;  
  z-index: 10;  
  background: #FFF;
}

.cat-grid-txt {
  color: rgb(12, 54, 156);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 13px;
  padding-bottom: 0;
}

.cat-grid-span-txt {
  color: rgb(146, 186, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}


@media (max-width: 1199px) {
  .cat-grid-txt {
    font-size: 18px;
  }  
}

@media (max-width: 992px) {  
  .cat-grid-item {
    img {
      max-width: 80%;
    }
  }
  .cat-grid-img-w-2 {
    img {
      max-width: 100%;
    }
  }
  .cat-grid-txt {
    font-size: 10px;
  }  
}

@media (max-width: 768px) {
  .cat-grid-w.show-768 {
    .cat-grid-w-mob {
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin-left: -4.5px;
      margin-right: -4.5px;      
      flex-wrap: wrap;
    }    
    .cat-grid-item {
      width: calc(50%);
      height: 245px;      
      border: 4px solid #fff;
      img {
        max-height: 142px;
        width: auto;
        max-width: 100%;
      }
    }
  }
  .cat-grid-butt-w {
    margin-top: 24px;
    width: 100%;
  }
  .cat-grid-txt {

  }
  .cat-grid-arr {  
    background-size: 12px;
  }
}  