.cat-grid-item {
  background: rgba(244, 244, 244, 0.25);  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  flex-wrap: wrap;
  position: relative;
  transition: 0.7s;
  border: 5px solid #fff;
} 

.cat-grid-item:hover {
  background: #F4F4F4;
}

.cat-grid-img-w {
  text-align: center;
}

.cat-grid-row {  
  display: flex;
  width: 100%;  
  justify-content: space-between;  
  position: absolute;
  bottom: 0px;  
  align-items: flex-end;    
  color: #0c369c;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;    
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: inline-block;
  align-items: center;
  z-index: 10;
  background-color: #FFF;
  padding: 14px 20px 13px;
}





.cat-grid-obb {
  padding-top: 1px;
  .cat-grid-img-w {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cat-grid-obb .cat-grid-img-w



.cat-grid-txt {
  color: #0c369c;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  width: auto;  
  text-transform: uppercase;
  line-height: 1.2;
  padding-bottom: 0;  
}

.cat-grid-arr {
  width: 52px;
  height: 52px;  
  display: flex;
  flex: none;  
  align-items: center;  
  justify-content: center;
  background: url('../img/arr-r-b.svg') no-repeat center;
  transition: 0.7s;
  display: none;
}

.cat-grid-item:hover .cat-grid-arr {
  background-color: #0C369C;
  background-image: url('../img/arr-link-r-w.svg');
}

@media (max-width: 992px) {
  .cat-grid-txt {
    font-size: 10px;
  }
  .cat-grid-item img {
    max-width: 80%;
  }
}



@media (max-width: 768px) {
  .cat-grid-item {
    width: calc(50%);
    height: 245px;
    border: 4px solid #fff;
  }

  .cat-grid-arr {
    background-size: 12px;
  }

  .cat-grid-item img {
    max-height: 142px;
    width: auto;
    max-width: 100%;
  }
  .cat-grid-obb {
    .cat-grid-item {
      img {
        max-height: 100%;
        width: 100%;
        height: 100%;
        max-width: 100%;
      }
    } 
  }

}