.compare {
  padding-top: 103px;
  padding-bottom: 170px;  
  .like-h2-l {
    max-width: 570px;
    margin-bottom: -130px;
    line-height: 1.2;
  }
}

.contain {
}

.compare-w {

}

.compare-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}

.compare-head-txt-1 {

}

.compare-head-item {
  display: flex;    
  flex-direction: column;  
  align-items: center;
  width: 100%;
}

.compare-head-img-w {
  width: 169px;
  height: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.compare-head-txt-2 {
  color: #111111;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.w-wrap {
  width: 100%;
}

.compare-table {  
  width: 100%;
}

.compare-table-txt {
  color: rgb(17, 17, 17);
  font-size: 18px;
  display: inline-block;
}

.compare-table-img-w {
  margin-left: 17px;
  background: url("../img/question.svg") $nr center;
  width: 23px;
  height: 23px;
}

.compare-col {
  display: flex;  
  align-items: center;
}

.compare-col-1 {
  padding: 10px 0;
  border-bottom: 1px solid rgb(243, 240, 230);
  border-top: 1px solid rgb(243, 240, 230);  
  flex-grow: 1;
  width: 100%;
}

.compare-col-2, .compare-col-3 {
  width: 352px;  
  border: 1px solid rgb(243, 240, 230);  
  flex: none;  
  padding: 10px 17px;
}

.compare-table-row {    
  width: 100%;  
  display: flex;
  align-items: stretch;    
}

.compare-table-row-th {
  height: auto;
  margin-bottom: 18px;  
  .compare-col {
    border: none;    
  }
}



.compare-table-item {
  flex: 0 0 10px;  
  background: rgb(243, 240, 230);
  margin-right: 4px;
  height: 40px;
  &:last-child {
    margin-right: 0;
  }
  &.green {    
    background: rgb(146, 186, 31);    
  }
}
@media (max-width: 1199px) {
  .compare-table-txt {
    font-size: 12px;
  }   
  .compare-table-img-w {
    margin-left: 7px;    
    background-size: 80%;
    margin-right: 2px;
  }
  .compare .like-h2-l {
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  .compare .like-h2-l {
    text-align: left;
  } 
  .compare {
    padding: 50px 0;
  }
  .compare-head-img-w {
    width: 110px;
    height: 136px;
    margin-bottom: 35px;
    img {
      max-width: 100%;
    }
  }
  .compare-head-txt-2 {    
    font-size: 16px;
  }
  .compare-table-row {    
    flex-wrap: wrap;
  }
  .compare-col {
    width: 50%;        
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 17px;
    padding-top: 4px;
  }
  .compare-col-1 {
    width: 100%;    
    justify-content: flex-start;
    border: none;
    padding-top: 10px;
    padding-bottom: 2px;
  }
  .compare-col-2 {
    padding-right: 4px;    
    justify-content: flex-start;
  }
  .compare-col-3 {
    padding-left: 4px;    
    justify-content: flex-end;
  }
  .compare-table-row-th {
   margin-bottom: 0; 
 }
}
@media (max-width: 768px) {
  .compare-table-item {
    flex: 0 0 8.8px;
  } 
  .compare .like-h2-l {
    font-size: 24px;    
  }
}


@media (max-width: 640px) {
  .compare-table-item {
    flex: 0 0 7.2px;    
    height: 35px;
    margin-right: 4px;
  } 
}

@media (max-width: 570px) {
  .compare-table-item {
    flex: 0 0 5.2px;    
    height: 30px;
    margin-right: 4px;
  } 
}

@media (max-width: 480px) {
  .compare-table-item {
    flex: 0 0 5px;
    height: 21px;
    margin-right: 2px;
  } 
}

@media (max-width: 360px) {
  .compare-table-item {
    flex: 0 0 4px;    
  } 
}