@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@import "_reset.scss";



body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 10.7px;
}

.wrapper-w {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;  
}

.wrapper {
  overflow: hidden;
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.contain {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

a, button { 
  transition: 0.5s; 
}

.btns {
  background: #000;
}

.btn {  
  display: inline-flex;  
  justify-content: center;  
  align-items: center;
  height: 48px;
  border: 1px solid #0c369c;
  background-color: #0c369c;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 25px;
  min-width: 200px;  
}

.btn-b {
  &:hover {
    background-color: #2D5FD7;
  }
}

.btn-w {
  border: 1px solid #ffffff;
  background: none;
  color: #FFF;
  &:hover {
    background-color: #FFF;
    color: #0C369C;    
  }
}

.btn-arr-w {
  background-image: url("../img/arrow-butt-w.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
  padding-right: 52px;
  &:hover {
    background-image: url("../img/arrow-butt-b.svg");
  }
}

.btn-arr-b {
  background-image: url("../img/arrow-butt-b.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
  padding-right: 52px;
  &:hover {
    background-image: url("../img/arrow-butt-w.svg");
  }
}

.btn-o {
  background-color: #fff;
  color: #0c369c;
  border: 1px solid #0c369c;
  &:hover {
    background-color: #0c369c; 
    color: #fff;
  }
}

.btn-g {
  border: 1px solid #92ba1f;
  color: #92ba1f;
  background: none;
  &:hover {
    background-color: #92ba1f;
    color: #fff;
  }
}

.btn-g-min {
  background: none;
  color: #f4f4f4;
  height: 32px;
  border: 1px solid #92ba1f;
  padding: 0 20px;
}

.btn-span {
  margin-left: 20px;
}

.w100 {
  width: 100%;
}

.like-h1 {
  font-size: 48px;
  line-height: 1.2;
  color: rgb(12, 54, 156);
  margin-bottom: 40px;
}

.like-h2-wrap {
  width: 100%;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #E2E2E2;
}

.like-h2 {
  color: rgb(12, 54, 156);
  font-size: 48px;
  line-height: 1.2;
}

.like-h2-l {
  color: rgb(12, 54, 156);
  font-size: 48px;
  margin-bottom: 97px;  
}

.like-h2-bg {
  color: rgb(12, 54, 156);
  font-size: 48px;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  &:before {
    position: absolute;
    right: -55px;
    bottom: -10px;
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../img/quottes.png");
    background-repeat: no-repeat;
    background-position: right center; 
    z-index: -1;
  }  
}

.all-link {
  display: inline-block;
  padding-right: 44px;
  background-image: url("../img/arr-r-g.svg");
  background-repeat: no-repeat;
  background-position: right top 0;
  color: rgb(146, 186, 31);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 28px;
  &:hover {
    text-decoration: underline;
  }
}

.like-h2-w {
  color: #fff;
  font-size: 48px;
  line-height: 1.2;
}

.all-link-w {
  display: inline-block;
  padding-right: 44px;
  background-image: url("../img/arr-link-r-w.svg");
  background-repeat: no-repeat;
  background-position: right top 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 28px;
  &:hover {
    text-decoration: underline;
  }
}


.slick-arrow { 
  background: none;
  font-size: 0;
  bottom: 250px;
  width: 56px;
  height: 56px;
  border: 1px solid rgb(255, 255, 255);
  background-image: url("../img/arrow-l.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;    
  position: absolute;
  top: 50%;
  &:hover {
    background-color: #FFF;
    background-image: url("../img/arrow-l-b.svg");
  }
}
.slick-prev {
  left: 0;  
}  
.slick-next {
  right: 0;  
  transform: rotate(180deg);
}

img.lazy {
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


body {
  position: relative;
  &.active {
    background: url("../img/main.jpg") no-repeat top -911px center;
    .wrapper {
      opacity: 0.4;
    } 
  }    


}
.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;   
  -webkit-border-radius: 50%; 
  border-radius: 50%;
}




@media (max-width : 1720px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
  }  
}
@media (max-width : 1199px) {
  .contain {
    width: 970px;
  }

} 

@media (max-width : 992px) {
  .contain {
    width: 750px;
  }
  .like-h2,
  .like-h2-l,
  .like-h2-w,
  .like-h2-bg {
    font-size: 39px;
    margin-bottom: 40px;
  }
} 

@media (max-width : 768px) {
  .contain {
    width: 600px;
  }
  .like-h2,
  .like-h2-l,
  .like-h2-w,
  .like-h2-bg {
    font-size: 24px;    
  }

}      

@media (max-width : 640px) {
  .contain {
    width: 530px;
  }

} 


@media (max-width : 570px) {
  .contain {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media (max-width : 375px) {  
  input[type="text"] {
    height: 48px !important;
    font-size: 14px !important;
  }
  .btn {
    height: 48px;
    font-size: 14px;
  }
}


input[type="checkbox"].get-form-checkbox {
  display: none;
  &:checked {
    + div {
      background-image: url("../img/check-3.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.get-form-cons-check {
  flex: 0 0 20px;
  height: 20px;
  background-color: rgb(146, 186, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.get-form-cons {
  cursor: pointer;
}

.bread {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  span {    
  }
  a {

    color: #000;
  }
}