.footer {
  background-color: rgb(17, 17, 17);
  padding-top: 57px;
  padding-bottom: 50px;
}

.footer-row-1 {
}

@import "_mega-mnu.scss";

.footer-row-2 {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
}

.footer-col-manufacturers {
}

.footer-manufacturers {
  margin-top: 38px;
  flex-wrap: wrap;
  a {
    margin-right: 12px;
    display: inline-block;
  }
}



.footer-col-conts {
}

.footer-conts-days {
  color: rgb(146, 186, 31);
  font-size: 14px;
  font-weight: 600;
  margin-top: -5px;
}

.footer-phone {
  display: block;
  margin-top: 8px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  &:hover {
    text-decoration: underline;
  }
}

.footer-col-butt {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn.btn-g.w100 {
}

.footer-divider {
  background-color: rgb(153, 153, 153);
  height: 1px;
  width: 100%;
  opacity: 0.1;
  margin-bottom: 32px;
}

.footer-row-3 {
  padding-top: 0px;  
  display: flex;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.footer-logo {
  width: 180px;
  height: 64px;
  display: block;
  margin-right: 120px;
  margin-top: 16px;
}

.footer-col-mnu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 26px;
}

.footer-3-mnu {
  display: flex;
  li {
    margin-right: 26px;
  }

  a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid rgb(244, 244, 244);    
    padding-bottom: 4px;    
    transition: 0.5s;
    &:hover {
      border-color: transparent;
    }
  }
}

.footer-copy {
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 600;
  margin-top: 23px;
}

.footer-col-pays {
  margin-left: auto;
  margin-top: 15px;
}

.footer-pays {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  a {
    display: inline-block;
    margin-left: 16.5px;
  }
}



.footer-dev {
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 600;
  margin-top: 18px;
  text-align: right;
  a {
    color: #92ba1f;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1199px) {
  .footer-col-manufacturers {
    display: none; 
  }  
  .footer-pays {
    display: none;
  }
} 

@media (max-width: 992px) {
  .footer-logo {
    margin-right: 0;
  }
  .footer-row-3 {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .footer-col-pays {
    margin-left: unset;
  }
  .footer-3-mnu li:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .footer-row-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-col-conts {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-row-3 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-col-pays {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 640px) {
  .fooer-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-row-3,
  .footer-row-2,  
  .footer-col-pays {    
    flex-direction: column;
    display: flex;      
    align-items: center;
  }
  .footer-col-butt {
    width: 100%;    
  }
  .footer-col-mnu {
    order: -1;
  }
  .footer-divider {
    display: none;
  }
  .footer-col-mnu {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 570px) {
  /**/
}
@media (max-width: 480px) {
  .footer-col-mnu {
    width: 100%;
  }
  .footer-3-mnu {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
        width: 100%;
    li {
      margin-right: 0;
    }
    a {
      font-size: 12px;

    }
  }
}
@media (max-width: 375px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 38px;
  }
}
@media (max-width: 360px) {
  .footer-3-mnu {
    a {
      font-size: 11px;
    }
  }
}