.get-2 {
  height: 755px;
  padding-top: 95px;
  overflow: hidden;
  transform: translate(20px, 0);
  .get-txt-1 {
    margin-bottom: 59px;
  }
}

.get-img-2 {
  left: -399px;
  top: -95px;
  position: absolute;  
}
.get-txt-3 {
  color: rgb(153, 153, 153);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 49px;  
  max-width: 457px;
  line-height: 1.2;
}


.get-form-cons {
  display: flex;   
  flex-grow: 1;
  padding-right: 30px; 
}


.w-span {
  display: block;
  width: 12px;
  height: 9px;
}

.get-form-cons-txt {
  color: rgb(17, 17, 17);
  font-size: 13px;
  line-height: 1.2;
  flex-grow: 1;
}

.get-form-cons-link {
  color: rgb(12, 54, 156);
  text-decoration: underline;
  line-height: 1.2;
  display: block;
}

@media (max-width: 1700px) {
  .get-2 {  
    transform: translate(0, 0);
  }
}
@media (max-width: 1199px) {
  .get-img-2 {
    left: 241px;
  }
  .get-2 {
    padding-top: 60px;
  }
}

@media (max-width: 992px) {
  .get-img-2 {
    left: 271px;
  } 
  .get-2 {
    height: auto;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .get-form-row {  
    flex-wrap: wrap;   
  }
  .get-form-cons {
    margin-bottom: 23px;
    padding-right: 0;
  }
  .get-2 {
    .get-form-btn-w {
      width: 100%; 
      .btn {
        width: 100%;
      }
    }
  }
  .get-2 {
    padding-top: 0;
    .get-col-r {
      text-align: center;
    }
  }  
  .get-img-2 {
    position: static;
    max-width: 100%;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .get-img-2 {
    position: static;    
    margin-top: -50px;
    width: calc(100% + 50px);      
    max-width: unset;
    margin-left: -25px;
    margin-bottom: 40px;
  }
  .get-2 {
    padding-top: 50px;
   .get-col-r {

   } 
 }  
}

@media (max-width: 480px) {
  .get-2 .get-txt-1 {
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
  }  
}
