.get-2 {
  height: 755px;
  padding-top: 95px;
  overflow: hidden;
  .get-txt-1 {
    margin-bottom: 59px;
  }
}

.get-img-2 {
  left: -379px;
  top: -95px;
  position: absolute;  
}
.get-txt-3 {
  color: rgb(153, 153, 153);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 49px;  
  max-width: 457px;
  line-height: 1.2;
}


.get-form-cons {
  display: flex;   
  flex-grow: 1;
  padding-right: 30px; 
}

input[type="checkbox"].get-form-checkbox {
  display: none;
  &:checked {
    + div {
      background-image: url("../img/check-3.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.get-form-cons-check {
  flex: 0 0 20px;
  height: 20px;
  background-color: rgb(146, 186, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}

.w-span {

  display: block;
  width: 12px;
  height: 9px;
}

.get-form-cons-txt {
  color: rgb(17, 17, 17);
  font-size: 13px;
  line-height: 1.2;
  flex-grow: 1;
}

.get-form-cons-link {
  color: rgb(12, 54, 156);
  text-decoration: underline;
  line-height: 1.2;
  display: block;
}

@media (max-width: 1199px) {
  .get-img-2 {
    left: -309px;
  }
}

@media (max-width: 992px) {
  .get-img-2 {
    left: -169px;
  } 
  .get-2 {
    height: auto;
  }
}

@media (max-width: 768px) {
  .get-form-row {  
    flex-wrap: wrap;   
  }
  .get-form-cons {
    margin-bottom: 23px;
    padding-right: 0;
  }
  .get-2 {
    .get-form-btn-w {
      width: 100%; 
      .btn {
        width: 100%;
      }
    }
  }
  .get-img-2 {
    left: -219px;
    top: -150px;
  }
}

@media (max-width: 640px) {
  .get-img-2 {
    position: static;    
    margin-top: -50px;
    width: calc(100% + 50px);    
    margin-left: -25px;
    margin-bottom: 40px;
  }
  .get-2 {
   .get-col-r {
     
   } 
  }  
}