@import "_get-form2.scss";


.get-3 {
  height: 718px;
  overflow: visible;
  margin-bottom: 80px;
  padding-top: 94px;
  transform: translate(0px, 0);
  max-width: 1720px;
.get-col-r {
  margin-right: -160px;
}
}
.get-img-3 {
  position: absolute;
  top: -94px;
  right: -448px;
}