@import '_fancySelect.scss';

.product-img-w {
  img {    
    object-fit: cover;
  }
}

.product {
  background: rgba(244, 244, 244, 0.25);
  padding-top: 32px;
  padding-bottom: 99px;
}

.contain {
}

.product-w {
}

.filter-left {
  margin-top: 14px;
}

.product-choice {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.prod-item-more-w {
  display: none;
}

.product-col-l {
  width: 270px;
  flex: 0 0 auto;
  margin-right: 30px;
}

.product-filter-txt-1 {
  font-size: 12px;  
  color: rgb(153, 153, 153);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.product-filter-txt-11 {
  font-size: 12px;  
  color: rgb(153, 153, 153);
  flex: 0 0 26px;
}

.product-filter-w {
  padding-top: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid #F4F4F4;
  border-top: 1px solid #F4F4F4;
}

.product-filter-row {  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-filter-txt-2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #111111;
}

.product-filter-item-1 {
  width: 18px;
  height: 17px;
  position: relative;
  &:after {
    content: "";
    display: block;
    height: 1px;
    background: #999999; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 18px;
  }  
  &.off
  {
    &:before {
      content: "";
      display: block;
      height: 17px;
      width: 1px;
      background: #999999;
      transform: translate(-50%, -50%);
      position: absolute;
      left: calc(50%);
      top: 50%;
    }
  }
}

.product-filter-cont {
  height: auto;
  visibility: visible;
  opacity: 1;  
  margin-top: 24px;  
  transition: 0.2s;
  &.off {
    height: 0;
    visibility: hidden;
    opacity: 0;    
    margin-top: 0;
  }
}

.product-filter-roller {
  position: relative;
  display: flex;
  height: 20px;
  align-items: center;
  margin-bottom: 34px;
}

.product-roller-item-1 {
  width: 20px;
  height: 20px;
  background: rgb(12, 54, 156);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}

.product-roller-item-3 {
  height: 3px;
  background: rgb(244, 244, 244);
  border-radius: 90px;
  width: 100%;
}

.product-roller-item-2 {
  width: 71px;
  height: 3px;
  background: rgb(146, 186, 31);
  border-radius: 90px;
  display: block;
}


.filter-left {
  .ui-slider-horizontal .ui-slider-range-min {   
    height: 3px;
    background: rgb(146, 186, 31);
    border-radius: 90px;
    display: block;
  }
  .ui-widget-header {
    height: 3px;
    background: rgb(146, 186, 31);
    border-radius: 90px;
    display: block; 
  }

  .ui-widget.ui-widget-content {
    height: 3px;
    background: rgb(244, 244, 244);
    border-radius: 90px;
    border: none;
  }
  .ui-slider-horizontal .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: rgb(12, 54, 156);
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    transform: translate(0, -50%);
    &:focus {
      outline: none;
      border: none;
    }  
  }  

}


.product-filter-input-w {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"].product-filter-input {
  width: 110px;
  height: 40px;
  font-weight: 600;  
  font-size: 14px;
  border: 1px solid #999999;
  text-align: center;
}

.product-filter-roller-w {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.product-filter-roller-2-w {
  position: relative;
  display: flex;
  height: 20px;
  align-items: center;  
  flex: 1 1 auto;
}
.product-filter-roller-2 {
  width: calc(100% - 10px);
  position: relative;
  &:after {
    position: absolute;
    right: -15px;
    top: 0;
    content: "";
    display: block;
    height: 3px;
    background: #f4f4f4;
    border-radius: 90px;
    width: 20px;
  }
}

input[type="text"].product-filter-input-2 {  
  flex: none;
  width: 65px;
  height: 40px;
  border: 1px solid rgb(153, 153, 153);
  margin-left: 14px;
  font-size: 14px;
  text-align: center;  
}

.filter-check-group {
}

.filter-check-row {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  .get-form-cons-txt {
    font-size: 14px;
    display: flex;    
    flex-direction: column;    
    justify-content: center;
  }
  .get-form-cons-check {
    background-color: #F4F4F4;
    width: 24px;
    height: 24px;
    flex: none;
  }

  input[type="checkbox"].get-form-checkbox:checked + div {
    background-color: #92BA1F;
  }
}

.get-form-cons {
}

.get-form-checkbox {
}

.get-form-cons-check {
}

.get-form-cons-txt {
}

.filter-check-hide {
  display: none;
  &.on {
    display: block;
  }
}

.product-filter-form {
  .btn-o {
    background: #F4F4F4;
    border: none;
    color: #999;
    &:hover {
      border: 1px solid #0c369c;
      background-color: #0c369c;
      color: #FFF;
    }
    margin-top: 10px;
  } 
}


.filter-check-all {
  font-weight: 600;
  font-size: 14px;
  color: rgb(12, 54, 156);
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

.filter-check-group-span {
  width: 67px;
  height: 1px;
  border: 1px solid rgb(12, 54, 156);
  margin-top: 7px;
  display: block;
}

.r-banner-w {
  margin-top: 97px;
}

.product-col-r {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-tags-w {
  margin-bottom: 18px;
}

.product-tags {
  margin-left: -3.5px;
  margin-right: -3.5px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-tags-li {  
  margin-left: 3.5px;
  margin-right: 3.5px;
  margin-bottom: 8px;
}

.product-tags-link {
  padding: 12px 10px;
  height: 36px;
  background: rgb(244, 244, 244);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: rgb(17, 17, 17);
  font-weight: 600;
  text-transform: uppercase;    
  transition: 0.5s;
  &.active {  
    background: #0C369C;
    color: #FFF;
  }
  &:hover {
    background: #0C369C;
    color: #FFF; 
  }
}

.product-list {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
}

.product-item {
  width: 270px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(244, 244, 244);
  height: 790px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  display: flex;  
  flex-direction: column;
}

.product-img-w {
  height: 279px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-item-open {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: 14px;
  width: 14px;
  background-image: url("../img/open-1.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.product-info {
  margin-top: 0px;
  padding: 24px 23px 32px 23px;  
  border-top: 1px solid rgb(244, 244, 244);
}

.product-item-title {
  font-size: 20px;
  line-height: 1.2;
  color: rgb(12, 54, 156);
  display: block;
}

.product-item-tbl {
  margin-top: 26px;
}

.product-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9.5px;
}

.product-item-col-1 {
  font-size: 12px;
  color: rgb(153, 153, 153);
  line-height: 1.4;
  width: 87px;
}

.product-item-col-2 {
  font-size: 12px;
  color: rgb(17, 17, 17);
  line-height: 1.4;
  text-align: right;
}

.product-item-price {
  font-size: 30px;
  color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid rgb(244, 244, 244);
}

.product-item-price-txt-1 {
  font-weight: 300;
  font-size: 10px;
  color: rgb(153, 153, 153);
  margin-right: 4px;
  margin-top: auto;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.product-item-price-txt-2 {
  font-weight: 300;
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: 6px;
}



.banner-hor {
  margin-top: 50px;
}

.banner-hor-w {
  height: 170px;
}

.banner-hor-w-pda {
  display: none;
}

@media (max-width : 570px) {
  .banner-hor-w-pda {
    margin: 30px 0;
  }
}

.product-item-hide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;  

  transition: 0.5s;
}


.product-item {
  position: relative;
  @media (min-width: 1200px) {
    &:hover {
      .product-item-hide {
        opacity: 1;
        visibility: visible;
      }
    }
  }

}

.product-item-actions {  
  display: flex;  
  align-items: center;      
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #f4f4f4;  
  input[type="checkbox"].get-form-checkbox:checked + div {
    margin-right: 11px;
  }
  .get-form-cons-check {
    margin-right: 11px;
  }
  .get-form-cons {
    display: flex;    
    align-items: center;
  }
  .get-form-cons-txt {
    font-size: 14px;
  }
  .btn {
    width: auto;
    padding: 0 20px;
    min-width: auto;
  }
}

.product-item-price-hide {
  border-top: 1px solid #f4f4f4;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 75px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 207.33%);
    position: absolute;
    left: 0;
    top: -75px;    
  }
}


.banner-hor-w {
 img {     
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 0 0
 } 
}


@media (max-width: 1199px) {
  .product-item {
    width: calc(50% - 30px);
  }

}

@media (max-width: 992px) {
  .product-filter-actions.show-992 {
    display: flex;  
    justify-content: space-between;          
    align-items: center;
    div.fancy-select {
      width: auto;
      font-size: 12px;
      border: none;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
    }  
    div.fancy-select div.trigger {
      border: none;
      padding-right: 20px;
      padding-left: 0;
    }
    div.fancy-select ul.options.open {
      top: 30px;

    }
    div.fancy-select div.trigger:after {
      border: none;
      background: url("../img/arr-b-sel.svg") $nr 0 0;
      width: 12px;
      height: 7.5px;
      right: 0px;
      top: calc(50% - 6px);
    }
    div.fancy-select ul.options {
      width: 250px;
    }
  }

  .product-filter-open-link {
    display: inline-flex !important;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    padding-right: 0;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 12px;
      height: 7.5px;
      background: url("../img/arr-b-sel.svg") $nr 0 0;
      transform: rotate(-90deg);
      margin-left: 10px;
    }
  }

  .filter-left {    
    background-color: #FFF;
    border-radius: 16px 16px 0px 0px;    
    overflow: hidden;
    display: none;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    &.on {

    }
  }

  .filter-left-close-w {
    display: flex !important;    
    align-items: center;            
    justify-content: space-between;
    padding: 22px 16px 0 22px; 
    span {
      color: #000;
      font-size: 14px;
    }
  }
  a.fil-close {
    background: url("../img/close-b.svg") $nr 0 0; 
    width: 14px;
    height: 14px;
    display: block;
  }
  .product-filter-form {
    padding: 15px;
    button.btn {
      width: calc(50% - 5px);
      margin-top: 0;
      min-width: auto;      
    }
  }
  .product-filter-buttons {
    display: flex;    
    justify-content: space-between;        
    align-items: center;
    width: 100%;
  }

  .product-choice {    
    flex-wrap: wrap;
  }
  .product-col-l {
    width: 100%;    
  }
  .product-col-r {
    width: 100%;
  }
  .r-banner-w {
    display: none;
  }
  .product-choice {
    margin-top: 50px;
  }
  .product-item {
    width: calc(100% / 3 - 3px);
    margin-left: 1.5px;
    margin-right: 1.5px;
    margin-bottom: 3px;
  }
  .product-list {
    margin-left: -1.5px;
    margin-right: -1.5px; 
  }
  .product-choice {
    margin-top: 30px;
  }  
  .product {
    padding-bottom: 50px;
  }

}
@media (max-width: 768px) {
  .product-item-row {
    display: none;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: flex;
    }

  }
  .product-item.on {    
    .product-item-tbl {
      .product-item-row {
        display: flex !important;
      }
    } 
    .product-info {
      height: auto;  
    } 

  }

  .product-img-w {
    height: 181px;
  }
  .product-img-w img {
    max-width: 170px;
    height: auto;
  }
  .product-item-title {
    font-size: 17px;
  }
  .product-item-tbl {
    margin-top: 20px;
  }
  .product-info {
    padding-bottom: 12px;    
    flex-grow: 1;
    height: 250px;
  }
  .product-item {
    height: auto;
  }
  .prod-item-more-w {
    display: flex;    
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
  .prod-item-more {
    color: #0C369C;
    border-bottom: 1px solid #0C369C;
    padding-bottom: 3px;
    display: inline-block;
  }
  .product-item-price {
    font-size: 20px;
  }
  .product-item-price-txt-1 {
    font-size: 7px;
  }
  .product-item-price-txt-2 {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .product-item-title {
    font-size: 14px;
  }  
  .product-item-open {
    width: 9px;
    height: 9px;    
    background-size: 9px;
    bottom: 10px;
    right: 10px;
  }
  .product-item-tbl {
    margin-top: 7px;
  }
  .product-item-row {   
    flex-wrap: wrap;
  }
  .product-item-col-1,
  .product-item-col-2 {
    width: 100%;
    text-align: left;
  }

  .product-info {
    height: 230px;    
    padding: 15px 10px;
  }

}

@media (max-width: 570px) {
  .product-item {
    width: calc(100% / 2 - 3px);
  }
}

@media (max-width : 490px) {
 .banner-hor-w {
  img {
    object-position: -50px 0; 
  }
}
}
@media (max-width : 375px) {
 .banner-hor-w {
  height: auto;
  img {     
    object-fit: unset;     
    width: 100%;
    height: auto;
    object-position: 50% 50%;   
  } 
} 
}
@media (max-width : 375px) {

}
@media (max-width : 360px) {
  .product-choice {
    margin-top: 20px;
  }
}

