.top-mnu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
  background-color: #FFF; 
  width: 100%;
  padding: 84px 0 70px;
  .mega-mnu-title {
    color: #111;
  }
  .mega-mnu-ul a {
    color: #999;
    font-weight: 400;
    &:hover {
      color: #92ba1f;
    }
  }
  .mega-mnu-butt {
    color: #111111;
    &:hover {
      color: #FFF;
    }
  }
  .mega-mnu-ul-big a {
    color: #111;
  }
}
.hidden-mnu {
  display: block;  
  margin-left: 15px;
  margin-top: 10px;
  position: relative;
  z-index: 11;
}
.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px;
  display: block;
  width: 24px;
  height: 20px;
  margin: 0;
  margin-top: 25px;  
}
.toggle-mnu:focus {
  outline: none;
}
.toggle-mnu span {
  position: relative;
  display: block;  
  transition: all 0.3s;    
  backface-visibility: hidden;
  width: 32px;
  height: 2px;   
  background: #0C369C;  
}
.toggle-mnu span {
  &:after, &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 32px;
    height: 2px;   
    background: #0C369C;
    transition: all 0.3s;    
    backface-visibility: hidden;       

  }
}
.toggle-mnu span:after {
  top: 7px;            
}
.toggle-mnu span:before {

}

.toggle-mnu.on {  
  display: none;
  span {
    background-color: transparent;
  }
}

.top-close-w {
  display: flex;  
  margin-top: -35px;
  margin-bottom: 15px;
}
.top-close {
  width: 24.5px;
  height: 24.5px;
  background: url("../img/top-close.svg") $nr 0 0;
}

.toggle-mnu.on span:before    {
  transform: rotate(45deg) translate(5px, 5px);
  top: -6px;
}
.toggle-mnu.on span:after    {
  transform: rotate(-45deg) translate(8px, -9px);
  top: 13px;
}
.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 1199px) {

  .top-close-w {    
    justify-content: flex-end;  
  }
}


