@import "_fancySelect.scss";
div.fancy-select {
  width: 100%;
  div.trigger,
  ul.options {    
    width: 100%;
    min-width: auto;    
    border-radius: 0;
  }
  div.trigger {
    background: none;
    padding: 12px 15px;
  }
}    

div.fancy-select div.trigger:after {
  right: 15px;
}

div.fancy-select div.trigger {
  color: #000;
}




.completed {
  background-image: url("../img/completed-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  padding-top: 95px;
  padding-bottom: 92px;
  margin-bottom: 106px;
}


.completed-items-cont-wrap {
  position: relative;
}

.completed {
  .swiper-button {    
    background: none;
    border: 1px solid #ccc;
    background-image: url('../img/arrow-l-gray.svg');    
    font-size: 0;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 11;
    position: absolute;
    bottom: 36px;
    top: auto;
    &:after {
      display: none;
    }
    &:hover {
      background-color: #0C369C;
      border-color: #0C369C;
      background-image: url("../img/arrow-l.svg");
      
    }
  }  
  .swiper-button-next {
    right: 70px;
  }
  .swiper-button-prev {
    left: 70px;
  }
  .swiper-pagination {
    bottom: 58px;
    display: flex;    
    justify-content: center;
    width: 100%;
    z-index: 9;
  }
  .swiper-pagination-fraction {
    font-size: 20px;
    bottom: 50px;
  }
  .swiper-pagination-bullet {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid #d1d1d1;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      background-color: #0C369C;
      border-color: #0C369C;
    }
  }
}

.completed-w {
}

.completed-items {
  margin-top: 101px;
  height: auto;
  .slick-arrow {
    top: auto;
    bottom: 173px;
  }
  .slick-prev {
    left: -177px;
  }  
  .slick-next {
    right: -177px;      
  }
}

.completed-item {
}

.completed-nav {
  display: flex;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
}

.completed-nav-item {
  &.active {
    .completed-nav-link       {
      color: #0c369c;
      background-color: #fff;
    }
  }
}

.completed-nav-link {  
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  height: 87px;
  padding: 0 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #0c369c;
    background-color: #fff;
  }
}

.completed-tab-conent {
  background-color: #fff;
  position: relative;  
}

.completed-tab-conent-item {
  height: 0;    
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  &.active {
    height: auto;    
    visibility: visible;
    opacity: 1;
  }
}


.completed-tab-top {
  padding: 19px 20px 11px 20px;
  border-bottom: 1px solid rgb(244, 244, 244);
}

.completed-tab-top--brands {
  padding: 58px 70px 46px 70px
}

.completed-tags {
  display: flex;
  flex-wrap: wrap;
}

.completed-tag {  
  margin-right: 8px;
  margin-bottom: 8px;
}

.completed-tag-link {
  height: 32px;
  border: 1px solid rgb(244, 244, 244);
  background-color: rgb(244, 244, 244);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(17, 17, 17);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;  
  &.active {
    color: #ffffff;
    background-color: #0c369c;
    border: 1px solid #0c369c;
  }
  &:hover {
    color: #ffffff;
    background-color: #0c369c;
    border: 1px solid #0c369c; 
  }
}



.completed-tab-bot {
  padding: 52px 70px 134px;
  display: flex;
}

.completed-bot-l {
  flex: 1 1 auto;
  padding-right: 41px;
}

.completed-bot-title {
  color: rgb(17, 17, 17);
  font-size: 24px;
  margin-bottom: 32px;
}

.completed-bot-desc {
  color: rgb(153, 153, 153);
  font-size: 15px;
  line-height: 1.5;
}

.completed-bot-price {
  margin-top: 33px;
}

.completed-bot-price-label {
  color: rgb(146, 186, 31);
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.completed-bot-price-row {
  display: flex;
  align-items: flex-end;
}

.completed-bot-price-price {
  color: rgb(17, 17, 17);
  font-size: 24px;
  line-height: 1.3;
  display: flex;  
  align-items: flex-start;
}

.completed-bot-price-cur {
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 5px;
}

.completed-bot-price-link-w {
  margin-left: 49px;
  padding-bottom: 8px;
}

.completed-bot-price-link {
  color: rgb(12, 54, 156);
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgb(12, 54, 156);
  padding-bottom: 3px;
  &:hover {
    border: none;
  }
}

.completed-bot-r {
  flex: 0 0 500px;
  position: relative;
}

.completed-slder {
  width: 500px;
  height: 252px;  
}

.completed-slde {
  display: block;
  height: 100%;
  position: relative;
  &:focus {
    outline: none;
  }
}

.completed-slde-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.completed-slde-link {
  &:before {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;  
    display: block;  
    background-image: url("../img/expand.svg");
    background-repeat: no-repeat;
    background-position: left top;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
}  

.completed-brands {
  display: flex;
  label {    
    flex: 0 0 25%;
  }
}
input[type="radio"].completed-radio {
  display: none;
  + span {
    display: inline-flex;    
    align-items: center;            
    justify-content: center;
    width: 100%;
    height: 88px;
    border: 1px solid #f4f4f4;
    background-color: #ffffff;
    cursor: pointer;
    &:hover {
      border: 3px solid #92ba1f; 
    }
    img {
      width: 140px;
      height: auto;
    }
  }
  &:checked {
    + span {
      border: 3px solid #92ba1f; 
    }      
  }
}

.completed-form {
  display: none;
}







@media (max-width: 1199px) {
  .completed-items {

  } 
  .completed-bot-r {
    flex: 0 0 400px;
  }
  .completed-slder {
    width: 400px;
    height: 202px;
  }
}

@media (max-width: 992px) {
  .completed-nav-link {
    font-size: 16px;
  }
  .completed {
    padding-top: 50px;
    .like-h2-w {
      margin-bottom: 0;
    }
  }
  .completed-items {

    margin-top: 50px;
  } 
  input[type="radio"].completed-radio + span img {
    max-width: 80%;
  }
  .completed-tab-bot {
    padding: 20px;    
    flex-wrap: wrap;
  }
  .completed-bot-l {
    width: 100%;
    padding-right: 0;
    order: 1;
    margin-top: 20px;
  }
  .completed-bot-r {
    flex: 1 1 auto;    
    order: 0;
  }
  .completed-slder {
    width: 300px;
    height: 222px;
    margin-left: auto;
    margin-right: auto;
  }
  .completed-slde {
    height: 222px;
    width: 300px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .completed-tab-top--brands {
    padding: 20px;
  }
  .completed {
    margin-bottom: 50px;
  }
  .completed-tab-bot {
    padding-bottom: 100px;
  }
  .completed .swiper-button-prev {
    left: 15px;
  }
  .completed .swiper-button-next {
    right: 15px;
  }
  .completed .swiper-button {
    bottom: 23px;
  }
  .completed .swiper-pagination {
    bottom: 45px;
  }
  .completed .swiper-pagination-fraction {
    bottom: 39px;
  }
}



@media (max-width: 768px) {
  .completed-items{

  }
  .completed-nav {
    li {
      width: 33.33%;
    }
  }
  .completed-nav-link {
    font-size: 14px;   
    padding: 0 27px;
    height: 48px;    
    text-align: center;
    width: 100%;
  }
  .completed-tags {
    display: none;
  }
  .completed-form {
    display: block;
  }
  .completed-items {

  }  
}

@media (max-width: 640px) {
  .completed-nav {    
    flex-wrap: wrap;
    li {
      width: 100%;
    }
  } 
  .completed-nav-link {
    border-bottom: 1px solid #fff;
  }
  .completed-items {

  }
}

@media (max-width: 480px) {
  .completed-bot-price-link-w {
    margin-left: auto;
  }  
  .completed-items {
    .slick-prev {
      left: 20px;
    }
    .slick-arrow {
      bottom: 23px;
      right: 20px;
      border-color: #999;
      background-image: url("../img/arrow-l-gray.svg");
    }
    .completed-slde-dots-2 {
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 2;
      position: absolute;
      bottom: 43px;
      display: flex;
      li {
        outline: none;
        button {
          font-size: 0;
          padding: 0;
          margin: 0;
          display: block;
          border-radius: 50%;
          overflow: hidden;
          width: 10px;
          height: 10px;        
          background: none;
          margin-left: 6px;
          margin-right: 6px;
          cursor: pointer;
          border: 2px solid #999;
          outline: none;
        }
        &.slick-active {
          button {
            background-color: #0C369C;
            border: 2px solid #0C369C;
            border: none;            
          }
        }
      }
    }
  }//

  .completed-brands {  
    flex-wrap: wrap;
    label {
      flex: 0 0 50%;
    }  
  }
  .completed-bot-price-link-w {
    margin-left: auto;
  }
  .completed-item {
    z-index: 2;
  }
  .completed-items {

    position: relative;    
    z-index: 2;
    &:after {
      display: block;
      content: "";
      width: 100%;
      height: calc(100% - 300px);
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: #FFF;
      z-index: -1;
    }    
  }
}

@media (max-width: 374px) {
  .completed-bot-price-price {
    font-size: 17px;
  }
  .completed-bot-price-link {
    font-size: 10px;
  }
  .completed-slder {
    width: 250px;
  }
  .completed-bot-r {
    flex: 0 0 250px;
  }
}