.recommendations {
  padding-top: 102px;
  padding-bottom: 100px;
}

.recomm-w {
}

.recomm-videos {
  margin-top: 107px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 106px;
  border-bottom: 1px solid #F4F4F4;
}

.recomm-videos-item {
  width: calc(100% / 3 - 13px);
}

.recomm-videos-img-w {
  height: 206px;
  border: 1px solid rgb(17, 17, 17);
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 24px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.2);
    opacity: 0;
    visibility: hidden;
    position: absolute;    
    transition: 0.5s;
  }
  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.recomm-videos-play {
  display: inline-block;
  position: absolute;
  width: 68px;
  height: 50px;
  background: url("../img/play.svg") $nr center;
}

.recomm-item-title {
  color: rgb(17, 17, 17);
  font-size: 24px;
  line-height: 1.3;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}

.recomm-list {
  margin-top: 102px;
  display: flex;
  justify-content: space-between;
  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .slick-arrow {
    top: 218px; 
    border: 1px solid #ccc;
    background-image: url('../img/arrow-l-gray.svg');
    &:hover {
      background-color: #0C369C;
      background-image: url('../img/arrow-l.svg');
      border-color: #0C369C;
    }
  }
  .slick-prev {
    left: -175px;
  }
  .slick-next {
    right: -175px;
  }
}

.recomm-list-item {
  width: calc(100% / 3 - 13px);
  padding: 0 15px;
}

.recomm-list-img-w {
  height: 454px;
  border: 1px solid rgb(244, 244, 244);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0px;
  margin-bottom: 40px;
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    background-color: rgb(12, 54, 156);
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 97px;
    height: 97px;
    background-color: rgb(12, 54, 156);
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;  
    transition: 0.5s;
  }
  &:hover {
    &:before {
      opacity: 0.1;
    }
    &:after {
      opacity: 1;
    }
  }
}





.recomm-item-bot {
  display: block;
}

.recomm-item-name {
  color: rgb(17, 17, 17);
  font-size: 24px;
  line-height: 1.3;
  display: inline-block;
}

.recomm-item-pos {
  color: rgb(153, 153, 153);
  font-size: 13px;
  line-height: 1.2;
  display: block;
  margin-top: 13px;
}

@media (max-width : 1720px) {
  .recomm-list .slick-arrow {
    top: auto;
    bottom: -150px;
  }
  .recomm-list .slick-next {
    right: 0;
  }
  .recomm-list {
    .slick-dots {
      bottom: -125px;
      left: 50%;
      position: absolute;
      display: flex;
      transform: translate(-50%, 0);
      li {
        font-size: 0;
        padding: 0;
        margin: 0;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        width: 10px;
        height: 10px;
        border: 2px solid #0C369C;
        background: none;
        margin-left: 6px;
        margin-right: 6px;
        cursor: pointer;
        &.slick-active {
          background-color: #0C369C;
        }
      }
    }

    .slick-prev {
      left: 0;
    }
  }  
  .recomm-list-item {

  }

}

@media (max-width: 992px) {
  .recomm-videos {
    min-width: 600px;
    width: 100%;
    margin-top: 52px;
    padding-bottom: 50px;
  }
  .recomm-videos-item {
    width: calc(100% / 3 - 4.5px);
  }  
  .recomm-videos-img-w {
    height: 110px;
    margin-bottom: 13px;
  }
  .recomm-item-title {
    font-size: 14px;
  }
  .recommendations {
    padding: 50px 0;
    .like-h2-bg {
      margin-bottom: 0;
    }  
  }
  .recomm-list {
    margin-top: 50px;
  }
}

@media (max-width: 640px) {
  .recomm-videos-w {    
    overflow-x: scroll;
    position: relative;
    min-height: 260px;
    margin-right: -55px;
    .recomm-videos {
      position: absolute;
      left: 0;
      top: 0;
    }
  }  
  .recomm-videos-play {
    width: 28px;
    height: 20px;    
    background-size: cover;
  }
  .recomm-item-name {
    font-size: 13px;
  }
  .recomm-item-pos {
    margin-top: 4px;
    font-size: 12px;
  }
  .recomm-list-img-w {    
    overflow: hidden;
    height: 205px;
    width: 168px;
    margin-bottom: 18px;
    img {
      max-width: 80%;
      height: auto;
    }
  }   
  .recomm-list .slick-arrow {
    bottom: -85px;
  }
  .recomm-list .slick-dots {
    bottom: -60px;
  }

}

@media (max-width: 570px) {
  .recomm-videos-w {        
    margin-right: -15px;    
  }  
}

@media (max-width: 374px) {
  .recomm-list-item {
    text-align: center;
  }
  .recomm-list-img-w {
    margin-left: auto;
    margin-right: auto;
  }  
}
