.top {  
  padding: 14px 15px 10px 15px;
}

.top-1-w {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;  
}

.top-ul {
  li {
    margin-right: 40px;
    display: inline-block;
  }
  a {
    color: rgb(12, 54, 156);
    font-size: 14px;
    font-weight: 300;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
}

.top-compare {
  display: flex;
  align-items: center;
  margin-top: -8px;
  &:hover {
    .top-compare-txt-1 {
      text-decoration: underline;
    }
  }
}

.top-compare-txt-1 {
  color: rgb(12, 54, 156);
  font-size: 14px;
  font-weight: 300;
  margin-right: 10px;
}

.top-compare-txt-2 {
  width: 24px;
  height: 24px;
  background-color: rgb(146, 186, 31);
  border-radius: 50%;
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: flex;  
  align-items: center;
  justify-content: center;
}


.top-1-logo > img {
  width: 100%;
}

.top-1 {  
  padding: 7px 15px 23px 15px;
}



.top-1-col-1 {
  display: flex;
}

.top-1-logo {
  width: 187px;
  height: 68px;
  display: block;
  margin-right: 2px;
  margin-top: -8px;
  margin-right: 36px;
  flex: none;
}

.top-1-item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 44px;
  margin-top: 9px;
  margin-right: 55px;
}

.top-1-txt-1 {
  font-size: 13px;
  font-style: italic;
  color: rgb(12, 54, 156);
  font-family: "Ubuntu ";
}

.top-1-txt-2 {
  color: rgb(12, 54, 156);
  font-size: 13px;  
  width: 170px;
  margin-left: 17px;
  line-height: 1.2;  
  font-family: $font2;
}

.top-1-form {
  padding-left: 41px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../img/loupe-1.svg");
  justify-content: center;
  margin-top: 7px;
}

input[type="text"].top-1-input {
  color: #999999;
  font-size: 14px;
  font-weight: 300;
  border: none;
}

.top-1-col-2 {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.top-1-contacts {
  margin-top: 3;
}

.top-1-txt-3, .top-1-txt-4 {
  color: rgb(153, 153, 153);
  font-size: 11px;
  margin-bottom: 12px;
}

.top-1-txt-4 {
  margin-bottom: 0;
}

.top-1-link-1 {
  color: rgb(17, 17, 17);
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.top-1-btn {
  color: rgb(12, 54, 156);
  font-size: 13px;
  font-weight: 300;
  height: 28px;
  border: 1px solid rgb(146, 186, 31);  
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  margin-right: 35px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 0 10px;
  margin-top: 8px;
  &:hover {
    background-color: rgb(146, 186, 31);
    color: #fff;
  }
}

.top-1-mail {
  color: rgb(12, 54, 156);
  font-size: 21px;
  font-weight: 300;
  margin-top: 5px;
  display: inline-block;  
  &:hover {
    text-decoration: underline;
  }
}

.top-1-socials {
  display: flex;
  margin-left: 28px;
}

.top-1-social {
  display: block;
  margin-left: 13px;    
}


@import "_mnu.scss";

.top-mnu-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #F4F4F4;
  > li > a {
    color: rgb(17, 17, 17);
    font-size: 16px;
    display: inline-flex;
    padding-left: 43px;
    padding-right: 43px;    
    align-items: center;    
    justify-content: center;
    height: 48px;
    &:hover {
      background-color: rgb(12, 54, 156);  
      color: rgb(255, 255, 255);
    }
  }
  > li > a.active {
    color: rgb(255, 255, 255);    
    background-color: rgb(12, 54, 156);
  }
  > li > a.menu-link-butt {
    color: rgb(255, 255, 255);
    font-size: 16px;
    align-items: center;
    height: 48px;
    background-color: rgb(146, 186, 31);
    background-image: url("../img/calculator.svg");
    background-repeat: no-repeat;
    background-position: left 15px center;
    display: flex;
    padding-left: 60px;
    justify-content: center;
    padding-right: 15px;
  }
}

.menu-span {
  background-image: url("../img/arr-b.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  width: 11px;
  height: 6px;
}

@media (max-width: 1720px) {
  .top, .top-1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-1-item-1 {
    display: none;
  }
  .top-1-form {
    margin-left: 45px;
  }
  .top-mnu-2 > li > a {
    padding: 0 10px;
  }


}

@media (max-width: 1200px) {
  .top-1-contacts {
    display: none; 
  }
  .top-compare {
    margin-top: 0;
  }
  .top-mnu-2 {
    display: none;
  }
  .top {    
    display: none;
  }
  .top-1 {
    padding: 15px;
  }
  .top-1-logo {
    margin-top: 0;
  }
  .top-1-col-2 {
    .top-1-btn,
    .top-1-mail {
      display: none;
    }
  }
  .top-1-col-1 {
    width: 100%;
  }
  .top-1-form {
    margin-left: 0;
    order: 1;
  }
  .col-mnu {
    margin-left: auto;
    order: 4;
  }
  .top-1-socials.show-1199 {
   order: 0; 
   display: flex !important;   
   align-items: center;
   margin-right: 24px;
 }
 .toggle-mnu {
  width: 32px;
}

}

@media (max-width: 768px) {
  .top-1-logo {
    width: 132px;
    height: 48px;
  }
  .top-1-social {
   width: 24px;
   height: 24px;
   img {
     max-width: 100%;
   } 
  }
  input[type="text"].top-1-input {
    display: none;
  }
  .top-1-form {
    margin-top: 0;
  }
  .top-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .toggle-mnu {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  input[type="text"].top-1-input {
    width: 0;
  }
  .top-1-col-1 {    
            justify-content: flex-end;
  }
  .top-1-form {
    padding-left: 20px;
  }
  .top-1-form {
    margin-left: 24px;   
  }
  .col-mnu {
    margin-left: 26px;
    width: 32px;
  }
  .top-1-socials.show-1199 {
    margin-left: auto;
    margin-right: 0;
  }
  .top-mnu {
    padding-top: 54px;
  }
  .top-1-social {
    margin-left: 21px;
  }
  .top-1-logo {
    margin-right: auto;
  }
}
@media (max-width: 375px) {

}
@media (max-width: 320px) {
  /**/
}