.syst-table-row-heading {
  display: flex;
  margin-top: 85px;
}

.syst-table-left {  
  flex: none; 
  max-width: 410px;
}

.syst-table-left-title {
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.24px;
  color: rgb(17, 17, 17);
  height: 235px;
  padding-right: 18px;
  margin-top: 35px;
}

.syst-table-right-w {
  width: 770px;
  flex: 0 0 auto;
  display: flex;  
  flex-wrap: wrap;
}
.syst-table-right {  
}

.syst-table-item {
  width: 33.333%;
  &:last-child {
    .syst-table-item-td {
      border-right: 1px solid #F3F0E6;
    }
  }
  &:nth-child(odd) {
    .syst-table-item-td {
      background-color: #fcfcfc;
    }
  }
}

.syst-table-item-img-w {
  height: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(244, 244, 244);
  width: 100%;
}

.syst-table-item-name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.14px;
  color: rgb(17, 17, 17);
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.syst-table-item-table-wrap {
  margin-top: 20px;
}

.comparison-labels {
  display: flex;  
  flex-wrap: wrap;
}

.comparison-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}

.comparison-checkbox {
  display: none;
  + span {
    height: 32px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4; 
    display: inline-flex;    
    align-items: center;    
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #111111;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase; 
  }  
  &:checked {
    + span {
      background-color: #0C369C;
      color: #fff;
    }
  }
  &:hover {
    + span {
     background-color: #0C369C;
     color: #fff; 
   }
 }
}

.compare-label {
  width: 100%;
  display: block;
  border-right: 1px solid #fff;
}
.compare-checkbox {
  display: none;
  + span {
    display: flex;    
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: #F4F4F4;
    font-size: 12px;
    font-weight: 600;
  }
  &:checked {
    + span {
      background: #92BA1F url('../img/check-5.svg') $nr left 23px center;
      color: #FFF;
    }
  }
}

.compare-label-2 {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.compare-checkbox-2 {
  display: none;
  + span {
    background: #F4F4F4;
    width: 24px;
    height: 24px;
    display: flex;    
    align-items: center;  
    justify-content: center;
  }
  &:checked {
    + span {
      background: #92BA1F url('../img/check-5.svg') $nr center;
    }
  }
}


.compare-label-span-txt {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.tr-more-2 {  
 td {
   padding: 0;
   border-top: none;
 } 
}

.syst-table-item-td {
 height: 56px; 
 padding: 16px 18px;
 border-top: 1px solid #F3F0E6;
 border-left: 1px solid #F3F0E6;
 color: #999;
 font-size: 18px;
 text-align: right; 
 &:last-child {
   border-bottom: 1px solid #F3F0E6;
 }
}

.td-more-2 {
  padding: 0;
  height: auto;
  border: none;
}

.options-products-roller-w {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  width: 100%;
  margin-top: 26px;
}

.syst-table-item-table-wrap-left {

  .syst-table-item-td {
    display: flex;    
    align-items: center;
    color: #000;
    border-left: none;
    padding-left: 0;
    text-align: left;
  }
}


.swiper-scrollbar {
  background: rgb(244, 244, 244);
  height: 4px;
  display: block;
  margin-left: 12px;
  margin-right: 12px;
  width: 100%;
  
}

.swiper-scrollbar-drag {
  background: rgb(146, 186, 31);
  width: 196px;
  height: 4px;
}

.swiper-button {
  position: static;
  background: url("../img/arr-l-opt.svg") center no-repeat rgb(244, 244, 244);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  &:after {
    display: none;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
}


@media (max-width : 1199px) {
  .syst-table-item-td {
    font-size: 16px;
  }
  .syst-table-left {
    max-width: 280px;
  }
  .syst-table-right-w {
    width: 685px;
  }
} 

@media (max-width : 992px) {
  .comparison-tabs-a {
    font-size: 18px;
  }
  .comparison-tabs-a {
    padding-bottom: 20px;
    margin-bottom: -3px;
  }
  .comparison-tabs-num {
    margin-top: 0;
  }
  .syst-table-row-heading {
    margin-top: 50px;
  }
  .syst-table-right-w {
    width: 465px;
  }
  .compar-col-3 {
    display: none;
  }
  .solutions {
    padding-top: 50px;
  }
  .comparison-prods {
    margin-bottom: 19px;
  }
  .compare-table-body {
    .product-info {
      height: auto;
    }  
  }
}

@media (max-width : 768px) {
  .syst-table-right-w {
    width: 325px;
  }
  .compar-col-1 {
    flex: 1 1 auto;    
    padding: 40px;
    height: auto;
    display: flex;    
    flex-direction: column;    
    justify-content: center;
  }
  .compar-txt-1 {
    font-size: 28px;
  }
}

@media (max-width : 640px) {
  .comparison-tabs-li {
    margin-right: 30px;
  }

  
}