$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


@import "_top.scss";
@import "_projects.scss";
@import "_footer.scss";



.projects-w {
  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;
  padding-top: 50px;  
}

.projects-heading {
  margin-bottom: 62px;
}
.contain {

}
.projects-heading-w {
  display: flex;  
  justify-content: space-between;
  .like-h2 {
    margin-bottom: 0;
  }
}
.projects-filter-reset {
  width: 270px;
  height: 48px;
  background: #F4F4F4;
  display: inline-flex;  
  align-items: center;  
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #999999;
  &:hover {    
    color: #FFF;
    background-color: rgb(12, 54, 156);
  }
}

.projects-item {  
  width: calc(100% / 3 - 20px);
  border-bottom: 1px solid rgb(244, 244, 244);
  padding-bottom: 24px;
  margin-bottom: 30px;
  .completed-slde-dots {
    li {
      &:focus,
      &:hover,
      &:active {
        outline: none;
      }
      button {
        background: none;
        border: none;
        font-size: 0;
        &:focus,
        &:hover,
        &:active {
          outline: none;
        }
      }
      &.slick-active {
        button {
          background-color: #FFF;
        }
      }
    }
  }
}

.projects-img-w {
  width: 100%;
  display: block;
  position: relative;  
  &:before {
    display: block;
    content: "";
    background-image: url("../img/open-3.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    right: 18px;
    background-position: center;
  }
}

.projects-img-slider {
  overflow: hidden;
  height: 370px;
  margin-bottom: 24px;
}

.projects-more-btn-w {
  width: 100%;
  margin-top: -5px;
  .projects-btn-more {
    width: 100%;
  } 
}


.projects-texts {
}

.projects-link-txt {
  font-size: 24px;
  line-height: 1.2;
  color: rgb(17, 17, 17);
  display: block;
  margin-bottom: 24px;
}

.projects-txt-w {
}

.projects-txt-1 {
  font-size: 13px;
  color: rgb(146, 186, 31);
  margin-bottom: 10px;
}

.projects-txt-2 {
  font-size: 24px;
  color: rgb(17, 17, 17);
  display: flex;
}

.projects-txt-span {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  margin-left: 5px;
}


.projects {
  margin-bottom: 50px;
  .completed-nav {
    background: #F4F4F4;
    backdrop-filter: blur(20px);
    li.active {
      .completed-nav-link {
        color: #0C369C;
        border-top: 2px solid #0C369C;
      }
    }
    .completed-nav-link {
      color: #999;
      &:hover {
        color: #0C369C;
        border-top: 2px solid #0C369C;
      }
    }
  }
  .completed-tab-top {
    padding-bottom: 20px;
  }
}


.projects-body {

}


@media (max-width : 992px) {
  .projects-item {  
    width: calc(100% / 2 - 15px);
  }
} 

@media (max-width : 768px) {
  .projects-img-slider {
    height: 270px;
  }
}

@media (max-width : 640px) {
  .projects-item {  
    width: calc(100% / 2 - 7px);
  }
  .projects-heading-w {    
    flex-wrap: wrap;
    .like-h2 {
      margin-bottom: 20px;
    }
  }
  .projects-filter-reset {
    width: 100%;
  }
}
@media (max-width : 570px) {
  /**/  
}

@media (max-width : 480px) {
  .projects-item { 
    width: 100%;
  }
}

@media (max-width : 360px) {
  /**/  
}

@import "_hides.scss";
@import "_after-styless.scss";