$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


@import "_top.scss";
@import "_card-top-columns";
@import "_projects.scss";
@import "_form2.scss";


@import "_cat-grid-item.scss";

.reynaers-aluminium-body {
  .catalog-slider-item,
  .catalog-slider-w {
    height: 438px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .catalog-w {
    padding-bottom: 46px;
  }
}

.manufacturers-img-w {
  margin-bottom: 33px;
  margin-top: 38px;
}

.manufacturers-grid-cats {
  margin-top: 100px;
  margin-bottom: 50px;
}
.manufacturers-grid-items {
  width: 100%;
  display: flex;  
  flex-wrap: wrap;  
  justify-content: space-between;
  .cat-grid-item {
    width: calc(100%/ 4 - 22.5px);
    height: 590px;
    margin-bottom: 30px;
    border: none;
  }  
}

.manufacturers-grid-items-obb {
  .cat-grid-item img {
    max-width: unset !important;
    max-height: unset !important;
  }
}

.manufacturers-grid-items-obb {  
  .cat-grid-item {
    height: 270px;    
    justify-content: flex-start;    
    align-items: flex-start;
    padding: 0;
.cat-grid-row {
  background: none;
  padding: 0;
}
    .cat-grid-txt {
      display: inline-flex;
      width: auto;
      padding: 14px 20px 13px;
      background-color: #FFF;
      bottom: 0;
      left: 0;
    }
    .cat-grid-img-w {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}



@media (max-width: 1199px) {
  .manufacturers-grid-items .cat-grid-item {
    width: calc(50% - 15px);
  }  
}

@media (max-width: 993px) {
  .manufacturers-grid-cats {
    margin-top: 50px;
  }
  .reynaers-aluminium-body {
    .catalog-txt-3 {
      margin-bottom: 20px;      
    }  
    .catalog-w {
      padding-bottom: 40px;
    }
  }  
}


@media (max-width: 570px) {
  .manufacturers-grid-cats {
    margin-bottom: 30px;
  }
  .manufacturers-grid-items {
   .cat-grid-item {
    width: calc(50% - 4.5px);
    margin-bottom: 10px;
    height: 245px;
  }   
  .cat-grid-item {
   img {
     max-height: 142px;
     width: auto;
   }
 }

}  
.manufacturers-grid-items .cat-grid-item {
  height: 168px;
}
}

@media (max-width: 480px) {
  .reynaers-aluminium-body {
    .catalog-slider-w img {
      max-width: 100%;
    }
  } 
  .reynaers-aluminium-body .catalog-slider-item, .reynaers-aluminium-body .catalog-slider-w {
    height: 348px;
  }
}

@import "_footer.scss";
@import "_hides.scss";
@import "_after-styless.scss";